openapi: 3.0.1
info:
  description: DocSpring provides an API that helps you fill out and sign PDF templates.
  title: DocSpring API
  version: v1
servers:
- url: https://sync.api.docspring.com/api/v1
paths:
  /authentication:
    get:
      operationId: testAuthentication
      responses:
        "200":
          content:
            application/json:
              example:
                status: success
              schema:
                $ref: '#/components/schemas/success_error_response'
          description: authentication succeeded
        "401":
          content:
            application/json:
              example:
                status: error
                error: "Could not find API token with ID: missing_api_token"
              schema:
                $ref: '#/components/schemas/success_error_response'
          description: authentication failed
      security:
      - api_token_basic: []
      summary: Test Authentication
      tags:
      - PDF
  /combined_submissions:
    get:
      operationId: listCombinedSubmissions
      parameters:
      - description: "Default: 1"
        example: 2
        in: query
        name: page
        schema:
          minimum: 1
          type: integer
      - description: "Default: 50"
        example: 1
        in: query
        name: per_page
        schema:
          maximum: 50
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              example:
              - id: com_1234567890abcdef01
                state: pending
                expired: false
                expires_in: null
                expires_at: null
                processed_at: null
                error_message: null
                submission_ids: []
                source_pdfs: []
                metadata: {}
                password: null
                pdf_hash: null
                download_url: null
                actions: []
              - id: com_1234567890abcdef02
                state: processed
                expired: false
                expires_in: null
                expires_at: null
                processed_at: 2023-01-05T14:00:00Z
                error_message: null
                submission_ids: []
                source_pdfs: []
                metadata: {}
                password: null
                pdf_hash: 225fb2676adc8f382aba3916d7b7a2088cb7f75ab62ec5c7f4543c5abf8ce4da
                download_url: https://docspring-s3-example.s3.amazonaws.com/store/acc_1234567890abcdef01/combined_submissions/com_1234567890abcdef02.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=docspring-s3-example%2F20210101%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210101T090000Z&X-Amz-Expires=86400&X-Amz-SignedHeaders=host&X-Amz-Signature=abcdef0123456789
                actions: []
              - id: com_1234567890abcdef03
                state: error
                expired: false
                expires_in: 123
                expires_at: null
                processed_at: null
                error_message: Something went wrong
                submission_ids: []
                source_pdfs: []
                metadata: {}
                password: null
                pdf_hash: null
                download_url: null
                actions: []
              - id: com_1234567890abcdef04
                state: processed
                expired: true
                expires_in: 345
                expires_at: 2023-01-05T14:05:00Z
                processed_at: 2023-01-05T14:00:00Z
                error_message: null
                submission_ids: []
                source_pdfs: []
                metadata: {}
                password: null
                pdf_hash: 0622971147486e1900037eff229d921d14f5b51aac7171729b2b66f81cdf6585
                download_url: null
                actions: []
              schema:
                items:
                  $ref: '#/components/schemas/combined_submission'
                title: list_combined_submissions
                type: array
          description: enumerate all combined submissions
        "401":
          content:
            application/json:
              example:
                status: error
                error: "Missing Basic Auth: Please provide an API token via Basic\
                  \ Auth. See: https://docspring.com/docs/api/authentication.html"
              schema:
                $ref: '#/components/schemas/error_response'
          description: authentication failed
      security:
      - api_token_basic: []
      summary: Get a list of all combined submissions
      tags:
      - PDF
    post:
      operationId: combineSubmissions
      parameters:
      - description: "Wait for combined submission to be processed before returning.\
          \ Set to false to return immediately. Default: true (on sync.* subdomain)"
        in: query
        name: wait
        schema:
          default: true
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/combined_submission_data'
        required: true
      responses:
        "201":
          content:
            application/json:
              example:
                status: success
                combined_submission:
                  id: com_1234567890abcdef01
                  state: pending
                  expired: false
                  expires_in: 300
                  expires_at: null
                  processed_at: null
                  error_message: null
                  submission_ids:
                  - sub_1234567890abcdef01
                  - sub_1234567890abcdef02
                  source_pdfs: []
                  metadata:
                    foo: 123
                    bar: baz
                  password: password123
                  pdf_hash: null
                  download_url: null
                  actions: []
              schema:
                $ref: '#/components/schemas/create_combined_submission_response'
          description: combined submission created
        "422":
          content:
            application/json:
              example:
                status: error
                errors:
                - "source_pdfs: Could not find Submission with ID: MISSING_ID"
              schema:
                $ref: '#/components/schemas/multiple_errors_response'
          description: invalid request
        "400":
          content:
            application/json:
              example:
                status: error
                error: "There was a problem with the JSON you submitted: unexpected\
                  \ character at line 1, column 37 in '{ \"submission_ids\": [\"123\"\
                  , \"345\"], metadata: { \"user_id\": \"@#)(*%$)@(#*%@&%\" }}"
              schema:
                $ref: '#/components/schemas/error_response'
          description: invalid JSON
        "401":
          content:
            application/json:
              example:
                status: error
                error: "Missing Basic Auth: Please provide an API token via Basic\
                  \ Auth. See: https://docspring.com/docs/api/authentication.html"
              schema:
                $ref: '#/components/schemas/error_response'
          description: authentication failed
      security:
      - api_token_basic: []
      summary: Merge generated PDFs together
      tags:
      - PDF
      x-codegen-request-body-name: data
  /combined_submissions?v=2:
    post:
      operationId: combinePdfs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/combine_pdfs_data'
        required: true
      responses:
        "201":
          content:
            application/json:
              example:
                status: success
                combined_submission:
                  id: com_1234567890abcdef02
                  state: pending
                  expired: false
                  expires_in: 300
                  expires_at: null
                  processed_at: null
                  error_message: null
                  submission_ids:
                  - sub_1234567890abcdef01
                  - sub_1234567890abcdef02
                  source_pdfs:
                  - type: submission
                    id: sub_1234567890abcdef01
                  - type: template
                    id: tpl_1234567890abcdef01
                  - type: submission
                    id: sub_1234567890abcdef02
                  - type: custom_file
                    id: cfi_1234567890abcdef01
                  - type: combined_submission
                    id: com_1234567890abcdef01
                  - type: url
                    url: http://example.com/test-pdf.pdf
                  metadata:
                    foo: 123
                    bar: baz
                  password: null
                  pdf_hash: null
                  download_url: null
                  actions: []
              schema:
                $ref: '#/components/schemas/create_combined_submission_response'
          description: combined submission created
        "422":
          content:
            application/json:
              example:
                status: error
                errors:
                - "source_pdfs: Could not find Submission with ID: MISSING_SUBMISSION_ID"
                - "source_pdfs: Template document is not processed: tpl_1234567890abcdef01\
                  \ (state: pending)"
                - "source_pdfs: Could not find Template with ID: MISSING_TEMPLATE_ID"
                - "source_pdfs: Could not find Custom File with ID: MISSING_CUSTOM_FILE_ID"
                - "source_pdfs: Could not find Combined Submission with ID: MISSING_COMBINED_SUBMISSION_ID"
              schema:
                $ref: '#/components/schemas/multiple_errors_response'
          description: invalid request
        "400":
          content:
            application/json:
              example:
                status: error
                error: "There was a problem with the JSON you submitted: unexpected\
                  \ character at line 1, column 34 in '{ \"source_pdfs\": [\"123\"\
                  , \"345\"], metadata: { \"user_id\": \"@#*&%)(@*#%&(@#!\" }}"
              schema:
                $ref: '#/components/schemas/error_response'
          description: invalid JSON
        "401":
          content:
            application/json:
              example:
                status: error
                error: "Missing Basic Auth: Please provide an API token via Basic\
                  \ Auth. See: https://docspring.com/docs/api/authentication.html"
              schema:
                $ref: '#/components/schemas/error_response'
          description: authentication failed
      security:
      - api_token_basic: []
      summary: "Merge submission PDFs, template PDFs, or custom files"
      tags:
      - PDF
      x-codegen-request-body-name: data
  /combined_submissions/{combined_submission_id}:
    delete:
      operationId: expireCombinedSubmission
      parameters:
      - example: com_1234567890abcdef01
        in: path
        name: combined_submission_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                id: com_1234567890abcdef01
                state: processed
                expired: true
                expires_in: 300
                expires_at: 2018-10-20T13:00:00Z
                processed_at: 2020-05-14T02:00:00Z
                error_message: null
                submission_ids:
                - sub_1234567890abcdef01
                - sub_1234567890abcdef02
                source_pdfs: []
                metadata:
                  qux: abc
                  user_id: 42
                password: password123
                pdf_hash: 12342342471442006963e3244a1b43610e066165c09770978221f91bd7ace8f5
                download_url: null
                actions:
                - id: csa_1234567890abcdef01
                  integration_id: aci_1234567890abcdef01
                  state: processed
                  action_type: aws_s3_upload
                  action_category: file_upload
                  result_data:
                    s3_key: acc_1234/2018/combined_submissions/20181005090010-com_1234.pdf
                    s3_url: https://docspring-s3-example.s3.amazonaws.com/acc_1234/2018/combined_submissions/20181005090010-com_1234.pdf
                    s3_bucket: docspring-s3-example
                    s3_region: us-east-1
              schema:
                $ref: '#/components/schemas/combined_submission'
          description: submission was expired
        "404":
          content:
            application/json:
              example:
                status: error
                error: Combined submission not found.
              schema:
                $ref: '#/components/schemas/error_response'
          description: combined submission not found
        "403":
          content:
            application/json:
              example:
                status: error
                error: You must use a live API token to expire a combined submission.
              schema:
                $ref: '#/components/schemas/error_response'
          description: test API token used
        "401":
          content:
            application/json:
              example:
                status: error
                error: "Missing Basic Auth: Please provide an API token via Basic\
                  \ Auth. See: https://docspring.com/docs/api/authentication.html"
              schema:
                $ref: '#/components/schemas/error_response'
          description: authentication failed
      security:
      - api_token_basic: []
      summary: Expire a combined submission
      tags:
      - PDF
    get:
      operationId: getCombinedSubmission
      parameters:
      - example: com_1234567890abcdef01
        in: path
        name: combined_submission_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                id: com_1234567890abcdef01
                state: processed
                expired: false
                expires_in: 300
                expires_at: 2018-10-20T13:05:00Z
                processed_at: 2020-05-14T02:00:00Z
                error_message: null
                submission_ids:
                - sub_1234567890abcdef01
                - sub_1234567890abcdef02
                source_pdfs: []
                metadata:
                  qux: abc
                  user_id: 42
                password: password123
                pdf_hash: 12342342471442006963e3244a1b43610e066165c09770978221f91bd7ace8f5
                download_url: https://docspring-s3-example.s3.amazonaws.com/store/submissions/sub_1234567890abcdef01/20171002192229.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=docspring-s3-example%2F20210101%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210101T090000Z&X-Amz-Expires=86400&X-Amz-SignedHeaders=host&X-Amz-Signature=abcdef0123456789
                actions:
                - id: csa_1234567890abcdef01
                  integration_id: aci_1234567890abcdef01
                  state: processed
                  action_type: aws_s3_upload
                  action_category: file_upload
                  result_data:
                    s3_key: acc_1234/2018/combined_submissions/20181005090010-com_1234.pdf
                    s3_url: https://docspring-s3-example.s3.amazonaws.com/acc_1234/2018/combined_submissions/20181005090010-com_1234.pdf
                    s3_bucket: docspring-s3-example
                    s3_region: us-east-1
              schema:
                $ref: '#/components/schemas/combined_submission'
          description: processed combined submission found
        "404":
          content:
            application/json:
              example:
                status: error
                error: Combined submission not found.
              schema:
                $ref: '#/components/schemas/error_response'
          description: combined submission not found
        "401":
          content:
            application/json:
              example:
                status: error
                error: "Missing Basic Auth: Please provide an API token via Basic\
                  \ Auth. See: https://docspring.com/docs/api/authentication.html"
              schema:
                $ref: '#/components/schemas/error_response'
          description: authentication failed
      security:
      - api_token_basic: []
      summary: Check the status of a combined submission (merged PDFs)
      tags:
      - PDF
  /custom_files:
    post:
      operationId: createCustomFileFromUpload
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_custom_file_data'
        required: true
      responses:
        "201":
          content:
            application/json:
              example:
                status: success
                custom_file:
                  id: cfi_1234567890abcdef01
                  url: https://docspring-s3-example.s3.amazonaws.com/store/acc_1234567890abcdef01/custom_files/cfi_1234567890abcdef01.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=docspring-s3-example%2F20210101%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210101T090000Z&X-Amz-Expires=86400&X-Amz-SignedHeaders=host&X-Amz-Signature=abcdef0123456789
              schema:
                $ref: '#/components/schemas/create_custom_file_response'
          description: returns the custom file
        "401":
          content:
            application/json:
              example:
                status: error
                error: "Missing Basic Auth: Please provide an API token via Basic\
                  \ Auth. See: https://docspring.com/docs/api/authentication.html"
              schema:
                $ref: '#/components/schemas/error_response'
          description: authentication failed
      security:
      - api_token_basic: []
      summary: Create a new custom file from a cached presign upload
      tags:
      - PDF
      x-codegen-request-body-name: data
  /uploads/presign:
    get:
      operationId: getPresignUrl
      responses:
        "200":
          content:
            application/json:
              example:
                fields:
                  key: ed9424dccf185f3835df4e9e1da0ca0b
                  policy: eyJleHBpcmF0aW9uIjoiMjAxOS0xMC0wNVQxNDowMDowMFoiLCJjb25kaXRpb25zIjpbeyJidWNrZXQiOiJ0ZXN0LWJ1Y2tldCJ9LHsia2V5IjoiZWQ5NDI0ZGNjZjE4NWYzODM1ZGY0ZTllMWRhMGNhMGIifSx7IngtYW16LWNyZWRlbnRpYWwiOiIxMjM0NTY3ODkvMjAxOTEwMDUvdXMtZWFzdC0xL3MzL2F3czRfcmVxdWVzdCJ9LHsieC1hbXotYWxnb3JpdGhtIjoiQVdTNC1ITUFDLVNIQTI1NiJ9LHsieC1hbXotZGF0ZSI6IjIwMTkxMDA1VDEzMDAwMFoifV19
                  x-amz-credential: 123456789/20191005/us-east-1/s3/aws4_request
                  x-amz-algorithm: AWS4-HMAC-SHA256
                  x-amz-date: 20191005T130000Z
                  x-amz-signature: 6b715e441bd7ea5beec87f8415230a600be6dfd76b8f89103137618dca959fac
                headers: {}
                method: post
                url: https://test-bucket.s3.amazonaws.com
              schema:
                $ref: '#/components/schemas/upload_presign_response'
          description: presign URL generated
        "401":
          content:
            application/json:
              example:
                status: error
                error: "Missing Basic Auth: Please provide an API token via Basic\
                  \ Auth. See: https://docspring.com/docs/api/authentication.html"
              schema:
                $ref: '#/components/schemas/error_response'
          description: authentication failed
      security:
      - api_token_basic: []
      summary: Get a presigned URL so that you can upload a file to our AWS S3 bucket
      tags:
      - PDF
  /folders/:
    get:
      operationId: listFolders
      parameters:
      - description: Filter By Folder Id
        example: fld_1234567890abcdef02
        in: query
        name: parent_folder_id
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
              - id: fld_1234567890abcdef03
                name: nested folder 1
                path: /Folder 2
                parent_folder_id: fld_1234567890abcdef02
              - id: fld_1234567890abcdef02
                name: Folder 2
                path: /
                parent_folder_id: null
              - id: fld_1234567890abcdef01
                name: Folder 1
                path: /
                parent_folder_id: null
              schema:
                items:
                  $ref: '#/components/schemas/folder'
                title: list_folders
                type: array
          description: enumerate all folders
        "401":
          content:
            application/json:
              example:
                status: error
                error: "Missing Basic Auth: Please provide an API token via Basic\
                  \ Auth. See: https://docspring.com/docs/api/authentication.html"
              schema:
                $ref: '#/components/schemas/error_response'
          description: authentication failed
      security:
      - api_token_basic: []
      summary: Get a list of all folders
      tags:
      - PDF
    post:
      operationId: createFolder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_folder_data'
        required: true
      responses:
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/multiple_errors_response'
          description: name already exist
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: parent folder doesn't exist
        "200":
          content:
            application/json:
              example:
                id: fld_1234567890abcdef0n1
                name: Folder 3
                path: /
                parent_folder_id: null
              schema:
                $ref: '#/components/schemas/folder'
          description: folder created inside another folder
        "401":
          content:
            application/json:
              example:
                status: error
                error: "Missing Basic Auth: Please provide an API token via Basic\
                  \ Auth. See: https://docspring.com/docs/api/authentication.html"
              schema:
                $ref: '#/components/schemas/error_response'
          description: authentication failed
      security:
      - api_token_basic: []
      summary: Create a folder
      tags:
      - PDF
      x-codegen-request-body-name: data
  /folders/{folder_id}/move:
    post:
      operationId: moveFolderToFolder
      parameters:
      - example: fld_1234567890abcdef01
        in: path
        name: folder_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/move_folder_data'
        required: true
      responses:
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: parent folder doesn't exist
        "200":
          content:
            application/json:
              example:
                id: fld_1234567890abcdef01
                name: Folder 1
                path: /Folder 2
                parent_folder_id: fld_1234567890abcdef02
              schema:
                $ref: '#/components/schemas/folder'
          description: move to root folder
        "401":
          content:
            application/json:
              example:
                status: error
                error: "Missing Basic Auth: Please provide an API token via Basic\
                  \ Auth. See: https://docspring.com/docs/api/authentication.html"
              schema:
                $ref: '#/components/schemas/error_response'
          description: authentication failed
      security:
      - api_token_basic: []
      summary: Move a folder
      tags:
      - PDF
      x-codegen-request-body-name: data
  /folders/{folder_id}/rename:
    post:
      operationId: renameFolder
      parameters:
      - example: fld_1234567890abcdef01
        in: path
        name: folder_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/rename_folder_data'
        required: true
      responses:
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/multiple_errors_response'
          description: name already exist
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: folder doesn't belong to me
        "200":
          content:
            application/json:
              example:
                id: fld_1234567890abcdef01
                name: Folder 3
                path: /
                parent_folder_id: null
              schema:
                $ref: '#/components/schemas/folder'
          description: successful rename
        "401":
          content:
            application/json:
              example:
                status: error
                error: "Missing Basic Auth: Please provide an API token via Basic\
                  \ Auth. See: https://docspring.com/docs/api/authentication.html"
              schema:
                $ref: '#/components/schemas/error_response'
          description: authentication failed
      security:
      - api_token_basic: []
      summary: Rename a folder
      tags:
      - PDF
      x-codegen-request-body-name: data
  /folders/{folder_id}:
    delete:
      operationId: deleteFolder
      parameters:
      - example: fld_1234567890abcdef01
        in: path
        name: folder_id
        required: true
        schema:
          type: string
      responses:
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: folder doesn't exist
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: folder has contents
        "200":
          content:
            application/json:
              example:
                id: fld_1234567890abcdef01
                name: Folder 1
                path: /
                parent_folder_id: null
              schema:
                $ref: '#/components/schemas/folder'
          description: folder is empty
        "401":
          content:
            application/json:
              example:
                status: error
                error: "Missing Basic Auth: Please provide an API token via Basic\
                  \ Auth. See: https://docspring.com/docs/api/authentication.html"
              schema:
                $ref: '#/components/schemas/error_response'
          description: authentication failed
      security:
      - api_token_basic: []
      summary: Delete a folder
      tags:
      - PDF
  /data_requests/{data_request_id}/events:
    post:
      operationId: createDataRequestEvent
      parameters:
      - example: drq_1234567890abcdef01
        in: path
        name: data_request_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_submission_data_request_event_request'
        required: true
      responses:
        "201":
          content:
            application/json:
              example:
                status: success
                event:
                  id: dre_1234567890abcdef01
                  submission_id: sub_1234567890abcdef01
                  submission_data_request_id: drq_1234567890abcdef01
                  event_type: send_request
                  message_type: email
                  message_recipient: test@test.com
                  occurred_at: 2018-10-20T13:00:00Z
              schema:
                $ref: '#/components/schemas/create_submission_data_request_event_response'
          description: event created
        "401":
          content:
            application/json:
              example:
                status: error
                error: "Missing Basic Auth: Please provide an API token via Basic\
                  \ Auth. See: https://docspring.com/docs/api/authentication.html"
              schema:
                $ref: '#/components/schemas/error_response'
          description: authentication failed
        "422":
          content:
            application/json:
              example:
                status: error
                errors:
                - Message type can't be blank
                - Message recipient can't be blank
              schema:
                $ref: '#/components/schemas/multiple_errors_response'
          description: message recipient must not be blank
      security:
      - api_token_basic: []
      summary: Creates a new event for emailing a signee a request for signature
      tags:
      - PDF
      x-codegen-request-body-name: event
  /data_requests/{data_request_id}/tokens:
    post:
      operationId: createDataRequestToken
      parameters:
      - example: drq_1234567890abcdef01
        in: path
        name: data_request_id
        required: true
        schema:
          type: string
      - example: api
        in: query
        name: type
        schema:
          enum:
          - api
          - email
          type: string
      responses:
        "201":
          content:
            application/json:
              example:
                status: success
                token:
                  id: 1234567890abcdefa1
                  secret: ABCDEF01234567890
                  expires_at: 2018-10-20T14:00:00Z
                  data_request_url: https://app.docspring.com/data_requests/drq_1234567890abcdef01?token_id=1234567890abcdefa1&token_secret=ABCDEF01234567890
              schema:
                $ref: '#/components/schemas/create_submission_data_request_token_response'
          description: token created
        "401":
          content:
            application/json:
              example:
                status: error
                error: "Missing Basic Auth: Please provide an API token via Basic\
                  \ Auth. See: https://docspring.com/docs/api/authentication.html"
              schema:
                $ref: '#/components/schemas/error_response'
          description: authentication failed
        "422":
          content:
            application/json:
              example:
                status: error
                error: "Invalid token type: invalid. Must be one of: api (expiration:\
                  \ 1 hour), email (expiration: 30 days)"
              schema:
                $ref: '#/components/schemas/error_response'
          description: invalid request
      security:
      - api_token_basic: []
      summary: Creates a new data request token for form authentication
      tags:
      - PDF
  /data_requests/{data_request_id}:
    get:
      operationId: getDataRequest
      parameters:
      - example: drq_1234567890abcdef01
        in: path
        name: data_request_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                id: drq_1234567890abcdef01
                email: jdoe@example.com
                name: John Doe
                order: 1
                sort_order: 0
                fields:
                - last_name
                metadata:
                  user_id: 42
                state: pending
                viewed_at: null
                completed_at: null
                data:
                  last_name: Smithers
                auth_type: password
                auth_second_factor_type: phone_number
                auth_provider: null
                auth_session_started_at: 2018-10-23T13:00:00Z
                auth_session_id_hash: null
                auth_user_id_hash: 8ae0e445664ca53407906db8638d8ba07a2383f656383a4427bed1ab645ca29a
                auth_username_hash: b7c141423f7030a6a771563ee0731192ea871146653a3d0cf8f8b78ca8f9699b
                auth_phone_number_hash: fdcc3985b0698d655137019b1e776171081369f0aad125b8c7f57af2b8225490
                ip_address: 1.1.1.1
                user_agent: "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_4) AppleWebKit/537.36\
                  \ (KHTML, like Gecko) Chrome/81.0.4044.122 Safari/537.36"
                submission_id: sub_1234567890abcdef01
              schema:
                $ref: '#/components/schemas/submission_data_request_show'
          description: completed submission data request found
        "404":
          content:
            application/json:
              example:
                status: error
                error: Data request not found.
              schema:
                $ref: '#/components/schemas/error_response'
          description: submission data request not found
        "401":
          content:
            application/json:
              example:
                status: error
                error: "Missing Basic Auth: Please provide an API token via Basic\
                  \ Auth. See: https://docspring.com/docs/api/authentication.html"
              schema:
                $ref: '#/components/schemas/error_response'
          description: authentication failed
      security:
      - api_token_basic: []
      summary: Look up a submission data request
      tags:
      - PDF
    put:
      operationId: updateDataRequest
      parameters:
      - example: drq_1234567890abcdef01
        in: path
        name: data_request_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update_submission_data_request_data'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                status: success
                data_request:
                  id: drq_1234567890abcdef01
                  email: jdoe@example.com
                  name: John Doe
                  order: 1
                  sort_order: 0
                  fields:
                  - last_name
                  metadata:
                    user_id: 123
                  state: pending
                  viewed_at: null
                  completed_at: null
                  data:
                    last_name: Smithers
                  auth_type: oauth
                  auth_second_factor_type: none
                  auth_provider: google
                  auth_session_started_at: 2018-10-23T13:00:00Z
                  auth_session_id_hash: 8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92
                  auth_user_id_hash: null
                  auth_username_hash: null
                  auth_phone_number_hash: null
                  ip_address: 1.1.1.1
                  user_agent: "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_4) AppleWebKit/537.36\
                    \ (KHTML, like Gecko) Chrome/81.0.4044.122 Safari/537.36"
                  submission_id: sub_1234567890abcdef01
              schema:
                $ref: '#/components/schemas/create_submission_data_request_response'
          description: submission data request updated
        "422":
          content:
            application/json:
              example:
                status: error
                errors:
                - Data requests cannot be updated after they have been completed.
              schema:
                $ref: '#/components/schemas/multiple_errors_response'
          description: invalid request
        "404":
          content:
            application/json:
              example:
                status: error
                error: Data request not found.
              schema:
                $ref: '#/components/schemas/error_response'
          description: submission data request not found
        "401":
          content:
            application/json:
              example:
                status: error
                error: "Missing Basic Auth: Please provide an API token via Basic\
                  \ Auth. See: https://docspring.com/docs/api/authentication.html"
              schema:
                $ref: '#/components/schemas/error_response'
          description: authentication failed
      security:
      - api_token_basic: []
      summary: Update a submission data request
      tags:
      - PDF
      x-codegen-request-body-name: data
  /submissions/batches:
    post:
      operationId: batchGeneratePdfs
      parameters:
      - description: "Wait for submission batch to be processed before returning.\
          \ Set to false to return immediately. Default: true (on sync.* subdomain)"
        in: query
        name: wait
        schema:
          default: true
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/submission_batch_data'
        required: true
      responses:
        "201":
          content:
            application/json:
              example:
                status: success
                submission_batch:
                  id: sbb_1234567890abcdef01
                  state: pending
                  metadata:
                    job_id: 54321
                  processed_at: null
                  total_count: 2
                  pending_count: 2
                  error_count: 0
                  completion_percentage: 0
                submissions:
                - status: success
                  submission:
                    batch_id: sbb_1234567890abcdef01
                    data_requests: []
                    editable: null
                    expired: false
                    expires_at: null
                    id: sub_1234567890abcdef01
                    json_schema_errors: []
                    metadata:
                      submission_number: 1
                    password: null
                    processed_at: null
                    state: pending
                    template_id: tpl_1234567890abcdef01
                    test: false
                    truncated_text: {}
                    pdf_hash: null
                    download_url: null
                    permanent_download_url: null
                    preview_download_url: null
                    preview_generated_at: null
                    audit_trail_download_url: null
                    actions: []
                - status: success
                  submission:
                    batch_id: sbb_1234567890abcdef01
                    data_requests: []
                    editable: null
                    expired: false
                    expires_at: null
                    id: sub_1234567890abcdef02
                    json_schema_errors: []
                    metadata:
                      submission_number: 2
                    password: null
                    processed_at: null
                    state: pending
                    template_id: tpl_1234567890abcdef01
                    test: true
                    truncated_text: {}
                    pdf_hash: null
                    download_url: null
                    permanent_download_url: null
                    preview_download_url: null
                    preview_generated_at: null
                    audit_trail_download_url: null
                    actions: []
              schema:
                $ref: '#/components/schemas/batchGeneratePdfs_201_response'
          description: submissions created
        "200":
          content:
            application/json:
              example:
                status: error
                submission_batch:
                  id: sbb_1234567890abcdef01
                  state: error
                  metadata:
                    job_id: 54321
                  processed_at: null
                  total_count: 2
                  pending_count: 0
                  error_count: 1
                  completion_percentage: 100
                submissions:
                - status: valid_but_not_saved
                - status: error
                  submission:
                    batch_id: sbb_1234567890abcdef01
                    data_requests: []
                    editable: null
                    expired: false
                    expires_at: null
                    id: sub_1234567890abcdef02
                    json_schema_errors:
                    - The object did not contain a required property of 'first_name'
                    metadata:
                      submission_number: 2
                    password: null
                    processed_at: null
                    state: invalid_data
                    template_id: tpl_1234567890abcdef01
                    test: true
                    truncated_text: {}
                    pdf_hash: null
                    download_url: null
                    permanent_download_url: null
                    preview_download_url: null
                    preview_generated_at: null
                    audit_trail_download_url: null
                    actions: []
                  errors:
                  - The object did not contain a required property of 'first_name'
              schema:
                $ref: '#/components/schemas/batchGeneratePdfs_201_response'
          description: some PDFs with invalid data
        "401":
          content:
            application/json:
              example:
                status: error
                error: Invalid API token secret
              schema:
                $ref: '#/components/schemas/error_response'
          description: authentication failed
        "422":
          content:
            application/json:
              example:
                status: error
                error: "You can only generate up to 50 PDFs per batch request. You\
                  \ requested: 51"
                errors:
                - "The property '#/submissions/0' of type array did not match the\
                  \ following type: object"
              schema:
                $ref: '#/components/schemas/multiple_errors_response'
          description: array of arrays
        "400":
          content:
            application/json:
              example:
                status: error
                error: "There was a problem with the JSON you submitted: unexpected\
                  \ character at line 1, column 25 in '{ \"first_name\": \"John\"\
                  , last_name: \"Smith\" }"
              schema:
                $ref: '#/components/schemas/error_response'
          description: invalid JSON
      security:
      - api_token_basic: []
      summary: Generates multiple PDFs
      tags:
      - PDF
      x-codegen-request-body-name: data
  /submissions/batches/{submission_batch_id}:
    get:
      operationId: getSubmissionBatch
      parameters:
      - example: sbb_1234567890abcdef01
        in: path
        name: submission_batch_id
        required: true
        schema:
          type: string
      - example: true
        in: query
        name: include_submissions
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              example:
                id: sbb_1234567890abcdef01
                state: error
                metadata:
                  qux: abc
                processed_at: null
                total_count: 10
                pending_count: 1
                error_count: 2
                completion_percentage: 90
                submissions:
                - batch_id: sbb_1234567890abcdef01
                  data_requests: []
                  editable: false
                  expired: false
                  expires_at: null
                  id: sub_1234567890abcdef01
                  json_schema_errors: []
                  metadata: {}
                  password: null
                  processed_at: null
                  state: processed
                  template_id: tpl_1234567890abcdef01
                  test: false
                  truncated_text: {}
                  pdf_hash: bbc369dd471442006963e3244a1b43610e066165c09770978221f91bd7ace8f5
                  download_url: https://example.com/submissions/submission.pdf
                  permanent_download_url: https://app.docspring.com/submissions/sub_1234567890abcdef01/download
                  preview_download_url: null
                  preview_generated_at: null
                  audit_trail_download_url: null
                  actions: []
                - batch_id: sbb_1234567890abcdef01
                  data_requests: []
                  editable: false
                  expired: false
                  expires_at: null
                  id: sub_1234567890abcdef02
                  json_schema_errors: []
                  metadata: {}
                  password: null
                  processed_at: null
                  state: processed
                  template_id: tpl_1234567890abcdef01
                  test: false
                  truncated_text: {}
                  pdf_hash: bbc369dd471442006963e3244a1b43610e066165c09770978221f91bd7ace8f5
                  download_url: https://example.com/submissions/submission.pdf
                  permanent_download_url: https://app.docspring.com/submissions/sub_1234567890abcdef02/download
                  preview_download_url: null
                  preview_generated_at: null
                  audit_trail_download_url: null
                  actions: []
              schema:
                $ref: '#/components/schemas/submission_batch_with_submissions'
          description: processed submission batch found
        "404":
          content:
            application/json:
              example:
                status: error
                error: Submission batch not found.
              schema:
                $ref: '#/components/schemas/error_response'
          description: submission batch not found
        "401":
          content:
            application/json:
              example:
                status: error
                error: "Missing Basic Auth: Please provide an API token via Basic\
                  \ Auth. See: https://docspring.com/docs/api/authentication.html"
              schema:
                $ref: '#/components/schemas/error_response'
          description: authentication failed
      security:
      - api_token_basic: []
      summary: Check the status of a submission batch job
      tags:
      - PDF
  /templates/{template_id}/submissions:
    get:
      operationId: listTemplateSubmissions
      parameters:
      - example: tpl_1234567890abcdef02
        in: path
        name: template_id
        required: true
        schema:
          type: string
      - in: query
        name: cursor
        schema:
          type: string
      - in: query
        name: limit
        schema:
          type: number
      - in: query
        name: created_after
        schema:
          type: string
      - in: query
        name: created_before
        schema:
          type: string
      - in: query
        name: type
        schema:
          type: string
      - example: true
        in: query
        name: include_data
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              example:
                submissions:
                - batch_id: null
                  data_requests: []
                  editable: false
                  expired: false
                  expires_at: 2020-10-27T13:00:00Z
                  id: sub_1234567890abcdef11
                  json_schema_errors: []
                  metadata:
                    qux: abc
                    user_id: 42
                  password: null
                  processed_at: 2020-05-14T02:00:00Z
                  state: processed
                  template_id: tpl_1234567890abcdef02
                  test: false
                  truncated_text:
                    first_name:
                    - F. Scott Fitzgerald
                  pdf_hash: bbc369dd471442006963e3244a1b43610e066165c09770978221f91bd7ace8f5
                  download_url: https://example.com/submissions/submission.pdf
                  permanent_download_url: https://app.docspring.com/submissions/sub_1234567890abcdef11/download
                  preview_download_url: null
                  preview_generated_at: null
                  audit_trail_download_url: null
                  actions: []
                  source: api
                  referrer: null
                  data:
                    first_name: John C. D. Rom Laserdisk F. Scott Fitzgerald
                    last_name: Smith
                    phone_number: "+11234567890"
                - batch_id: null
                  data_requests: []
                  editable: false
                  expired: false
                  expires_at: 2020-10-27T13:00:00Z
                  id: sub_1234567890abcdef12
                  json_schema_errors: []
                  metadata:
                    qux: abc
                    user_id: 42
                  password: null
                  processed_at: 2020-05-14T02:00:00Z
                  state: processed
                  template_id: tpl_1234567890abcdef02
                  test: false
                  truncated_text:
                    first_name:
                    - F. Scott Fitzgerald
                  pdf_hash: bbc369dd471442006963e3244a1b43610e066165c09770978221f91bd7ace8f5
                  download_url: https://example.com/submissions/submission.pdf
                  permanent_download_url: https://app.docspring.com/submissions/sub_1234567890abcdef12/download
                  preview_download_url: null
                  preview_generated_at: null
                  audit_trail_download_url: null
                  actions: []
                  source: api
                  referrer: null
                  data:
                    first_name: John C. D. Rom Laserdisk F. Scott Fitzgerald
                    last_name: Smith
                    phone_number: "+11234567890"
                - batch_id: null
                  data_requests: []
                  editable: false
                  expired: false
                  expires_at: 2020-10-27T13:00:00Z
                  id: sub_1234567890abcdef13
                  json_schema_errors: []
                  metadata:
                    qux: abc
                    user_id: 42
                  password: null
                  processed_at: 2020-05-14T02:00:00Z
                  state: processed
                  template_id: tpl_1234567890abcdef02
                  test: false
                  truncated_text:
                    first_name:
                    - F. Scott Fitzgerald
                  pdf_hash: bbc369dd471442006963e3244a1b43610e066165c09770978221f91bd7ace8f5
                  download_url: https://example.com/submissions/submission.pdf
                  permanent_download_url: https://app.docspring.com/submissions/sub_1234567890abcdef13/download
                  preview_download_url: null
                  preview_generated_at: null
                  audit_trail_download_url: null
                  actions: []
                  source: api
                  referrer: null
                  data:
                    first_name: John C. D. Rom Laserdisk F. Scott Fitzgerald
                    last_name: Smith
                    phone_number: "+11234567890"
                - batch_id: null
                  data_requests: []
                  editable: false
                  expired: false
                  expires_at: 2020-10-27T13:00:00Z
                  id: sub_1234567890abcdef14
                  json_schema_errors: []
                  metadata:
                    qux: abc
                    user_id: 42
                  password: null
                  processed_at: 2020-05-14T02:00:00Z
                  state: processed
                  template_id: tpl_1234567890abcdef02
                  test: false
                  truncated_text:
                    first_name:
                    - F. Scott Fitzgerald
                  pdf_hash: bbc369dd471442006963e3244a1b43610e066165c09770978221f91bd7ace8f5
                  download_url: https://example.com/submissions/submission.pdf
                  permanent_download_url: https://app.docspring.com/submissions/sub_1234567890abcdef14/download
                  preview_download_url: null
                  preview_generated_at: null
                  audit_trail_download_url: null
                  actions: []
                  source: api
                  referrer: null
                  data:
                    first_name: John C. D. Rom Laserdisk F. Scott Fitzgerald
                    last_name: Smith
                    phone_number: "+11234567890"
                next_cursor: sub_1234567890abcdef14
                limit: 50
              schema:
                $ref: '#/components/schemas/list_submissions_response'
          description: listing submissions
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: invalid template id
      security:
      - api_token_basic: []
      summary: List all submissions for a given template
      tags:
      - PDF
    post:
      operationId: generatePdf
      parameters:
      - example: tpl_1234567890abcdef01
        in: path
        name: template_id
        required: true
        schema:
          type: string
      - description: "Wait for submission to be processed before returning. Set to\
          \ false to return immediately. Default: true (on sync.* subdomain)"
        in: query
        name: wait
        schema:
          default: true
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_pdf_submission_data'
        required: true
      responses:
        "201":
          content:
            application/json:
              example:
                status: success
                submission:
                  batch_id: null
                  data_requests:
                  - id: drq_1234567890abcdef01
                    email: jsmith@example.com
                    name: null
                    order: 0
                    sort_order: 0
                    fields: null
                    metadata: {}
                    state: pending
                    viewed_at: null
                    completed_at: null
                    data: null
                    auth_type: email_link
                    auth_second_factor_type: none
                    auth_provider: null
                    auth_session_started_at: null
                    auth_session_id_hash: null
                    auth_user_id_hash: null
                    auth_username_hash: null
                    auth_phone_number_hash: null
                    ip_address: null
                    user_agent: null
                  editable: null
                  expired: false
                  expires_at: null
                  id: sub_1234567890abcdef01
                  json_schema_errors: []
                  metadata:
                    foo: 123
                    bar: baz
                  password: null
                  processed_at: null
                  state: waiting_for_data_requests
                  template_id: tpl_1234567890abcdef02
                  test: false
                  truncated_text: {}
                  pdf_hash: null
                  download_url: null
                  permanent_download_url: null
                  preview_download_url: null
                  preview_generated_at: null
                  audit_trail_download_url: null
                  actions: []
              schema:
                $ref: '#/components/schemas/create_submission_response'
          description: submission created
        "422":
          content:
            application/json:
              example:
                status: error
                error: "Invalid field_overrides. Fields do not exist for this template:\
                  \ 'non_existent'"
                submission:
                  batch_id: null
                  data_requests: []
                  editable: null
                  expired: false
                  expires_at: null
                  id: sub_1234567890abcdef01
                  json_schema_errors:
                  - The object did not contain a required property of 'last_name'
                  metadata:
                    foo: 123
                    bar: baz
                  password: null
                  processed_at: null
                  state: invalid_data
                  template_id: tpl_1234567890abcdef01
                  test: false
                  truncated_text: {}
                  pdf_hash: null
                  download_url: null
                  permanent_download_url: null
                  preview_download_url: null
                  preview_generated_at: null
                  audit_trail_download_url: null
                  actions: []
                errors:
                - The object did not contain a required property of 'last_name'
              schema:
                $ref: '#/components/schemas/error_response'
          description: invalid request
        "401":
          content:
            application/json:
              example:
                status: error
                error: Invalid API token secret
              schema:
                $ref: '#/components/schemas/error_response'
          description: authentication failed
        "400":
          content:
            application/json:
              example:
                status: error
                error: "There was a problem with the JSON you submitted: unexpected\
                  \ character at line 1, column 25 in '{ \"first_name\": \"John\"\
                  , last_name: \"Smith\" }"
              schema:
                $ref: '#/components/schemas/error_response'
          description: invalid JSON
      security:
      - api_token_basic: []
      summary: Generates a new PDF
      tags:
      - PDF
      x-codegen-request-body-name: submission
  /templates/{template_id}/submissions?endpoint_description=html_templates:
    post:
      operationId: generatePdfForHtmlTemplate
      parameters:
      - example: tpl_HTML567890abcdef01
        in: path
        name: template_id
        required: true
        schema:
          type: string
      - description: "Wait for submission to be processed before returning. Set to\
          \ false to return immediately. Default: true (on sync.* subdomain)"
        in: query
        name: wait
        schema:
          default: true
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_html_submission_data'
        required: true
      responses:
        "201":
          content:
            application/json:
              example:
                status: success
                submission:
                  batch_id: null
                  data_requests: []
                  editable: null
                  expired: false
                  expires_at: null
                  id: sub_1234567890abcdef01
                  json_schema_errors: []
                  metadata:
                    foo: 123
                    bar: baz
                  password: rand0mPassw0rd
                  processed_at: null
                  state: pending
                  template_id: tpl_HTML567890abcdef01
                  test: false
                  truncated_text: {}
                  pdf_hash: null
                  download_url: null
                  permanent_download_url: null
                  preview_download_url: null
                  preview_generated_at: null
                  audit_trail_download_url: null
                  actions: []
              schema:
                $ref: '#/components/schemas/create_submission_response'
          description: submission created
      security:
      - api_token_basic: []
      summary: Generates a new PDF for an HTML template
      tags:
      - PDF
      x-codegen-request-body-name: submission
  /submissions/{submission_id}:
    delete:
      operationId: expireSubmission
      parameters:
      - example: sub_1234567890abcdef01
        in: path
        name: submission_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                batch_id: null
                data_requests: []
                editable: false
                expired: true
                expires_at: 2018-10-20T13:00:00Z
                id: sub_1234567890abcdef01
                json_schema_errors: []
                metadata:
                  qux: abc
                  user_id: 42
                password: null
                processed_at: 2020-05-14T02:00:00Z
                state: processed
                template_id: tpl_1234567890abcdef01
                test: true
                truncated_text:
                  first_name:
                  - F. Scott Fitzgerald
                pdf_hash: bbc369dd471442006963e3244a1b43610e066165c09770978221f91bd7ace8f5
                download_url: null
                permanent_download_url: null
                preview_download_url: null
                preview_generated_at: null
                audit_trail_download_url: null
                actions:
                - id: sba_1234567890abcdef01
                  integration_id: aci_1234567890abcdef01
                  state: processed
                  action_type: aws_s3_upload
                  action_category: file_upload
                  result_data:
                    s3_key: templates/tpl_eGc5CmFbPnCCmerqsx/sub_gzYpKDYFqEHxzca4kK.pdf
                    s3_url: https://docspring-s3-example.s3.amazonaws.com/templates/tpl_eGc5CmFbPnCCmerqsx/sub_gzYpKDYFqEHxzca4kK.pdf
                    s3_bucket: docspring-s3-example
                    s3_region: us-east-1
              schema:
                $ref: '#/components/schemas/submission_preview'
          description: submission was expired
        "404":
          content:
            application/json:
              example:
                status: error
                error: Submission not found.
              schema:
                $ref: '#/components/schemas/error_response'
          description: submission not found
        "401":
          content:
            application/json:
              example:
                status: error
                error: Invalid API token secret
              schema:
                $ref: '#/components/schemas/error_response'
          description: authentication failed
        "403":
          content:
            application/json:
              example:
                status: error
                error: You must use a live API token to expire a submission.
              schema:
                $ref: '#/components/schemas/error_response'
          description: test API token used
      security:
      - api_token_basic: []
      summary: Expire a PDF submission
      tags:
      - PDF
    get:
      operationId: getSubmission
      parameters:
      - example: sub_1234567890abcdef01
        in: path
        name: submission_id
        required: true
        schema:
          type: string
      - example: true
        in: query
        name: include_data
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              example:
                batch_id: null
                data_requests: []
                editable: false
                expired: false
                expires_at: 2018-10-27T13:00:00Z
                id: sub_1234567890abcdef01
                json_schema_errors: []
                metadata:
                  qux: abc
                  user_id: 42
                password: null
                processed_at: 2020-05-14T02:00:00Z
                state: processed
                template_id: tpl_1234567890abcdef01
                test: true
                truncated_text:
                  first_name:
                  - F. Scott Fitzgerald
                pdf_hash: bbc369dd471442006963e3244a1b43610e066165c09770978221f91bd7ace8f5
                download_url: https://example.com/submissions/submission.pdf
                permanent_download_url: https://app.docspring.com/submissions/sub_1234567890abcdef01/download
                preview_download_url: null
                preview_generated_at: null
                audit_trail_download_url: null
                actions:
                - id: sba_1234567890abcdef01
                  integration_id: aci_1234567890abcdef01
                  state: processed
                  action_type: aws_s3_upload
                  action_category: file_upload
                  result_data:
                    s3_key: templates/tpl_eGc5CmFbPnCCmerqsx/sub_gzYpKDYFqEHxzca4kK.pdf
                    s3_url: https://docspring-s3-example.s3.amazonaws.com/templates/tpl_eGc5CmFbPnCCmerqsx/sub_gzYpKDYFqEHxzca4kK.pdf
                    s3_bucket: docspring-s3-example
                    s3_region: us-east-1
                source: api
                referrer: null
                data:
                  first_name: John C. D. Rom Laserdisk F. Scott Fitzgerald
                  last_name: Smith
                  phone_number: "+11234567890"
              schema:
                $ref: '#/components/schemas/submission'
          description: processed submission found
        "404":
          content:
            application/json:
              example:
                status: error
                error: Submission not found.
              schema:
                $ref: '#/components/schemas/error_response'
          description: submission not found
        "401":
          content:
            application/json:
              example:
                status: error
                error: "Missing Basic Auth: Please provide an API token via Basic\
                  \ Auth. See: https://docspring.com/docs/api/authentication.html"
              schema:
                $ref: '#/components/schemas/error_response'
          description: authentication failed
      security:
      - api_token_basic: []
      summary: Check the status of a PDF
      tags:
      - PDF
  /submissions/{submission_id}/generate_preview:
    post:
      operationId: generatePreview
      parameters:
      - example: sub_1234567890abcdef01
        in: path
        name: submission_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                status: success
              schema:
                $ref: '#/components/schemas/success_error_response'
          description: preview was successfully requested
        "404":
          content:
            application/json:
              example:
                status: error
                error: Submission not found.
              schema:
                $ref: '#/components/schemas/error_response'
          description: submission not found
        "422":
          content:
            application/json:
              example:
                status: error
                error: Preview PDF cannot be generated when all data requests have
                  been completed.
              schema:
                $ref: '#/components/schemas/success_error_response'
          description: error requesting preview
      security:
      - api_token_basic: []
      summary: Generated a preview PDF for partially completed data requests
      tags:
      - PDF
  /submissions:
    get:
      operationId: listSubmissions
      parameters:
      - example: sub_1234567890abcdef12
        in: query
        name: cursor
        schema:
          type: string
      - example: 3
        in: query
        name: limit
        schema:
          type: number
      - example: 2019-01-01T09:00:00-05:00
        in: query
        name: created_after
        schema:
          type: string
      - example: 2020-01-01T09:00:00.000+0200
        in: query
        name: created_before
        schema:
          type: string
      - example: test
        in: query
        name: type
        schema:
          type: string
      - example: true
        in: query
        name: include_data
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              example:
                submissions:
                - batch_id: null
                  data_requests: []
                  editable: false
                  expired: false
                  expires_at: 2020-10-27T13:00:00Z
                  id: sub_1234567890abcdef01
                  json_schema_errors: []
                  metadata:
                    qux: abc
                    user_id: 42
                  password: null
                  processed_at: 2020-05-14T02:00:00Z
                  state: processed
                  template_id: tpl_1234567890abcdef01
                  test: true
                  truncated_text:
                    first_name:
                    - F. Scott Fitzgerald
                  pdf_hash: bbc369dd471442006963e3244a1b43610e066165c09770978221f91bd7ace8f5
                  download_url: https://example.com/submissions/submission.pdf
                  permanent_download_url: https://app.docspring.com/submissions/sub_1234567890abcdef01/download
                  preview_download_url: null
                  preview_generated_at: null
                  audit_trail_download_url: null
                  actions: []
                  source: api
                  referrer: null
                  data:
                    first_name: John C. D. Rom Laserdisk F. Scott Fitzgerald
                    last_name: Smith
                    phone_number: "+11234567890"
                - batch_id: null
                  data_requests: []
                  editable: false
                  expired: false
                  expires_at: 2020-10-27T13:00:00Z
                  id: sub_1234567890abcdef02
                  json_schema_errors: []
                  metadata:
                    qux: abc
                    user_id: 42
                  password: null
                  processed_at: 2020-05-14T02:00:00Z
                  state: processed
                  template_id: tpl_1234567890abcdef01
                  test: true
                  truncated_text:
                    first_name:
                    - F. Scott Fitzgerald
                  pdf_hash: bbc369dd471442006963e3244a1b43610e066165c09770978221f91bd7ace8f5
                  download_url: https://example.com/submissions/submission.pdf
                  permanent_download_url: https://app.docspring.com/submissions/sub_1234567890abcdef02/download
                  preview_download_url: null
                  preview_generated_at: null
                  audit_trail_download_url: null
                  actions: []
                  source: api
                  referrer: null
                  data:
                    first_name: John C. D. Rom Laserdisk F. Scott Fitzgerald
                    last_name: Smith
                    phone_number: "+11234567890"
                - batch_id: null
                  data_requests: []
                  editable: false
                  expired: false
                  expires_at: 2020-10-27T13:00:00Z
                  id: sub_1234567890abcdef03
                  json_schema_errors: []
                  metadata:
                    qux: abc
                    user_id: 42
                  password: null
                  processed_at: 2020-05-14T02:00:00Z
                  state: processed
                  template_id: tpl_1234567890abcdef01
                  test: true
                  truncated_text:
                    first_name:
                    - F. Scott Fitzgerald
                  pdf_hash: bbc369dd471442006963e3244a1b43610e066165c09770978221f91bd7ace8f5
                  download_url: https://example.com/submissions/submission.pdf
                  permanent_download_url: https://app.docspring.com/submissions/sub_1234567890abcdef03/download
                  preview_download_url: null
                  preview_generated_at: null
                  audit_trail_download_url: null
                  actions: []
                  source: api
                  referrer: null
                  data:
                    first_name: John C. D. Rom Laserdisk F. Scott Fitzgerald
                    last_name: Smith
                    phone_number: "+11234567890"
                next_cursor: sub_1234567890abcdef03
                limit: 3
              schema:
                $ref: '#/components/schemas/list_submissions_response'
          description: listing submissions
        "422":
          content:
            application/json:
              example:
                status: error
                error: "Invalid submission type: 'foo'"
              schema:
                $ref: '#/components/schemas/error_response'
          description: invalid type
        "401":
          content:
            application/json:
              example:
                status: error
                error: "Missing Basic Auth: Please provide an API token via Basic\
                  \ Auth. See: https://docspring.com/docs/api/authentication.html"
              schema:
                $ref: '#/components/schemas/error_response'
          description: authentication failed
      security:
      - api_token_basic: []
      summary: List all submissions
      tags:
      - PDF
  /templates:
    get:
      operationId: listTemplates
      parameters:
      - description: Search By Name
        example: "2"
        in: query
        name: query
        schema:
          type: string
      - description: Filter By Folder Id
        example: fld_1234567890abcdef01
        in: query
        name: parent_folder_id
        schema:
          type: string
      - description: "Default: 1"
        example: 2
        in: query
        name: page
        schema:
          minimum: 1
          type: integer
      - description: "Default: 50"
        example: 1
        in: query
        name: per_page
        schema:
          maximum: 50
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              example:
              - add_data_request_submission_id_footers: true
                allow_additional_properties: false
                description: null
                document_filename: test-document.pdf
                document_md5: null
                document_parse_error: false
                document_processed: true
                document_state: pending
                document_url: https://docspring-s3-example.s3.amazonaws.com/store/templates/test/test-document.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=docspring-s3-example%2F20210101%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210101T090000Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&X-Amz-Signature=abcdef0123456789
                editable_submissions: false
                embed_domains: null
                encrypt_pdfs_password: null
                encrypt_pdfs: false
                expiration_interval: days
                expire_after: 7
                expire_submissions: true
                external_predefined_fields_template_id: null
                external_predefined_fields_template_name: null
                first_template: false
                id: tpl_1234567890abcdef011
                locked: false
                merge_audit_trail_pdf: true
                name: Sub Template 1
                page_count: 3
                page_dimensions:
                - - 612
                  - 792
                - - 792
                  - 612
                - - 612
                  - 792
                parent_folder_id: fld_1234567890abcdef01
                path: /Folder
                permanent_document_url: https://app.docspring.com/templates/tpl_1234567890abcdef011/original_pdf?token=123456789abcdef
                public_submissions: false
                public_web_form: false
                redirect_url: null
                slack_webhook_url: null
                template_type: pdf
                updated_at: 2018-10-20T09:00:00.000-04:00
                webhook_url: null
                demo: false
              - add_data_request_submission_id_footers: true
                allow_additional_properties: false
                description: null
                document_filename: null
                document_md5: null
                document_parse_error: false
                document_processed: false
                document_state: pending
                document_url: null
                editable_submissions: false
                embed_domains: null
                encrypt_pdfs_password: null
                encrypt_pdfs: false
                expiration_interval: days
                expire_after: 7
                expire_submissions: true
                external_predefined_fields_template_id: null
                external_predefined_fields_template_name: null
                first_template: false
                id: tpl_1234567890abcdef03
                locked: false
                merge_audit_trail_pdf: true
                name: Template 3
                page_count: 1
                page_dimensions: null
                parent_folder_id: null
                path: /
                permanent_document_url: null
                public_submissions: false
                public_web_form: false
                redirect_url: null
                slack_webhook_url: null
                template_type: html
                updated_at: 2018-10-20T09:00:00.000-04:00
                webhook_url: null
                demo: false
              - add_data_request_submission_id_footers: true
                allow_additional_properties: false
                description: null
                document_filename: test-document.pdf
                document_md5: null
                document_parse_error: false
                document_processed: true
                document_state: pending
                document_url: https://docspring-s3-example.s3.amazonaws.com/store/templates/test/test-document.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=docspring-s3-example%2F20210101%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210101T090000Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&X-Amz-Signature=abcdef0123456789
                editable_submissions: false
                embed_domains: null
                encrypt_pdfs_password: null
                encrypt_pdfs: false
                expiration_interval: days
                expire_after: 7
                expire_submissions: true
                external_predefined_fields_template_id: null
                external_predefined_fields_template_name: null
                first_template: false
                id: tpl_1234567890abcdef02
                locked: false
                merge_audit_trail_pdf: true
                name: Template 2
                page_count: 3
                page_dimensions:
                - - 612
                  - 792
                - - 792
                  - 612
                - - 612
                  - 792
                parent_folder_id: null
                path: /
                permanent_document_url: https://app.docspring.com/templates/tpl_1234567890abcdef02/original_pdf?token=123456789abcdef
                public_submissions: false
                public_web_form: false
                redirect_url: null
                slack_webhook_url: null
                template_type: pdf
                updated_at: 2018-10-20T09:00:00.000-04:00
                webhook_url: null
                demo: false
              - add_data_request_submission_id_footers: true
                allow_additional_properties: false
                description: null
                document_filename: blank_pdf.pdf
                document_md5: 1c32d785398e3a7eaab0e9b876903cc6
                document_parse_error: false
                document_processed: true
                document_state: processed
                document_url: https://docspring-s3-example.s3.amazonaws.com/store/acc_1234567890abcdef01/templates/tpl_1234567890abcdef01/document/original-0000000000.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=docspring-s3-example%2F20210101%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210101T090000Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&X-Amz-Signature=abcdef0123456789
                editable_submissions: false
                embed_domains: null
                encrypt_pdfs_password: null
                encrypt_pdfs: false
                expiration_interval: days
                expire_after: 7
                expire_submissions: true
                external_predefined_fields_template_id: null
                external_predefined_fields_template_name: null
                first_template: false
                id: tpl_1234567890abcdef01
                locked: false
                merge_audit_trail_pdf: true
                name: Template 1
                page_count: 1
                page_dimensions:
                - - 612
                  - 792
                parent_folder_id: null
                path: /
                permanent_document_url: https://app.docspring.com/templates/tpl_1234567890abcdef01/original_pdf?token=123456789abcdef
                public_submissions: false
                public_web_form: false
                redirect_url: null
                slack_webhook_url: null
                template_type: pdf
                updated_at: 2018-10-20T09:00:00.000-04:00
                webhook_url: null
                demo: false
              schema:
                items:
                  $ref: '#/components/schemas/template_preview'
                title: list_templates
                type: array
          description: enumerate all templates
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: filter templates by invalid folder id
        "401":
          content:
            application/json:
              example:
                status: error
                error: "Missing Basic Auth: Please provide an API token via Basic\
                  \ Auth. See: https://docspring.com/docs/api/authentication.html"
              schema:
                $ref: '#/components/schemas/error_response'
          description: authentication failed
      security:
      - api_token_basic: []
      summary: Get a list of all templates
      tags:
      - PDF
    post:
      operationId: createPDFTemplate
      parameters:
      - description: "Wait for template document to be processed before returning.\
          \ Set to false to return immediately. Default: true (on sync.* subdomain)"
        example: true
        in: query
        name: wait
        schema:
          default: true
          type: boolean
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/createPDFTemplate_request'
        required: true
      responses:
        "201":
          content:
            application/json:
              example:
                add_data_request_submission_id_footers: true
                allow_additional_properties: false
                description: ""
                document_filename: fw8ben.pdf
                document_md5: ca6fdfed355b9e89f9a94ee54688a231
                document_parse_error: false
                document_processed: false
                document_state: pending
                document_url: /cache/cached_upload.pdf
                editable_submissions: false
                embed_domains: null
                encrypt_pdfs_password: null
                encrypt_pdfs: false
                expiration_interval: days
                expire_after: 7
                expire_submissions: false
                external_predefined_fields_template_id: null
                external_predefined_fields_template_name: null
                first_template: true
                id: tpl_1234567890abcdef04
                locked: false
                merge_audit_trail_pdf: true
                name: Test Template
                page_count: 0
                page_dimensions: null
                parent_folder_id: fld_1234567890abcdef01
                path: /Folder
                permanent_document_url: null
                public_submissions: false
                public_web_form: false
                redirect_url: null
                slack_webhook_url: null
                template_type: pdf
                updated_at: 2018-10-20T09:00:00.000-04:00
                webhook_url: null
                demo: false
              schema:
                $ref: '#/components/schemas/template_preview'
          description: returns a pending template
        "401":
          content:
            application/json:
              example:
                status: error
                error: "Missing Basic Auth: Please provide an API token via Basic\
                  \ Auth. See: https://docspring.com/docs/api/authentication.html"
              schema:
                $ref: '#/components/schemas/error_response'
          description: authentication failed
      security:
      - api_token_basic: []
      summary: Create a new PDF template with a form POST file upload
      tags:
      - PDF
  /templates?endpoint_description=html:
    post:
      operationId: createHTMLTemplate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_html_template'
        required: true
      responses:
        "201":
          content:
            application/json:
              example:
                add_data_request_submission_id_footers: true
                allow_additional_properties: false
                description: HTML template created via API
                document_filename: null
                document_md5: null
                document_parse_error: false
                document_processed: false
                document_state: pending
                document_url: null
                editable_submissions: false
                embed_domains: null
                encrypt_pdfs_password: null
                encrypt_pdfs: false
                expiration_interval: days
                expire_after: 7
                expire_submissions: false
                external_predefined_fields_template_id: null
                external_predefined_fields_template_name: null
                first_template: true
                id: tpl_1234567890abcdef04
                locked: false
                merge_audit_trail_pdf: true
                name: Test HTML Template
                page_count: 1
                page_dimensions: null
                parent_folder_id: null
                path: /
                permanent_document_url: null
                public_submissions: false
                public_web_form: false
                redirect_url: null
                slack_webhook_url: null
                template_type: html
                updated_at: 2018-10-20T09:00:00.000-04:00
                webhook_url: null
                demo: false
              schema:
                $ref: '#/components/schemas/template_preview'
          description: returns a created template
        "401":
          content:
            application/json:
              example:
                status: error
                error: "Missing Basic Auth: Please provide an API token via Basic\
                  \ Auth. See: https://docspring.com/docs/api/authentication.html"
              schema:
                $ref: '#/components/schemas/error_response'
          description: authentication failed
      security:
      - api_token_basic: []
      summary: Create a new HTML template
      tags:
      - PDF
      x-codegen-request-body-name: data
  /templates?endpoint_description=cached_upload:
    post:
      operationId: createPDFTemplateFromUpload
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_pdf_template'
        required: true
      responses:
        "201":
          content:
            application/json:
              example:
                add_data_request_submission_id_footers: true
                allow_additional_properties: false
                description: null
                document_filename: fw8ben.pdf
                document_md5: ca6fdfed355b9e89f9a94ee54688a231
                document_parse_error: false
                document_processed: false
                document_state: pending
                document_url: https://docspring-s3-example.s3.amazonaws.com/cache/original-0000000000?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=docspring-s3-example%2F20210101%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210101T090000Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&X-Amz-Signature=abcdef0123456789
                editable_submissions: false
                embed_domains: null
                encrypt_pdfs_password: null
                encrypt_pdfs: false
                expiration_interval: days
                expire_after: 7
                expire_submissions: false
                external_predefined_fields_template_id: null
                external_predefined_fields_template_name: null
                first_template: false
                id: tpl_1234567890abcdef04
                locked: false
                merge_audit_trail_pdf: true
                name: Test Template Presigned
                page_count: 0
                page_dimensions: null
                parent_folder_id: null
                path: /
                permanent_document_url: null
                public_submissions: false
                public_web_form: false
                redirect_url: null
                slack_webhook_url: null
                template_type: pdf
                updated_at: 2018-10-20T09:00:00.000-04:00
                webhook_url: null
                demo: false
              schema:
                $ref: '#/components/schemas/template_preview'
          description: returns a pending template
        "401":
          content:
            application/json:
              example:
                status: error
                error: "Missing Basic Auth: Please provide an API token via Basic\
                  \ Auth. See: https://docspring.com/docs/api/authentication.html"
              schema:
                $ref: '#/components/schemas/error_response'
          description: authentication failed
      security:
      - api_token_basic: []
      summary: Create a new PDF template from a cached presign upload
      tags:
      - PDF
      x-codegen-request-body-name: data
  /templates/{template_id}:
    delete:
      operationId: deleteTemplate
      parameters:
      - example: tpl_1234567890abcdef01
        in: path
        name: template_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                status: success
              schema:
                $ref: '#/components/schemas/success_multiple_errors_response'
          description: template deleted
        "404":
          content:
            application/json:
              example:
                status: error
                error: Template not found.
              schema:
                $ref: '#/components/schemas/error_response'
          description: template not found
        "401":
          content:
            application/json:
              example:
                status: error
                error: "Missing Basic Auth: Please provide an API token via Basic\
                  \ Auth. See: https://docspring.com/docs/api/authentication.html"
              schema:
                $ref: '#/components/schemas/error_response'
          description: authentication failed
      security:
      - api_token_basic: []
      summary: Delete a template
      tags:
      - PDF
    get:
      operationId: getTemplate
      parameters:
      - example: tpl_1234567890abcdef01
        in: path
        name: template_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                add_data_request_submission_id_footers: true
                allow_additional_properties: false
                description: null
                document_filename: blank_pdf.pdf
                document_md5: 1c32d785398e3a7eaab0e9b876903cc6
                document_parse_error: false
                document_processed: true
                document_state: processed
                document_url: https://docspring-s3-example.s3.amazonaws.com/store/acc_1234567890abcdef01/templates/tpl_1234567890abcdef01/document/original-0000000000.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=docspring-s3-example%2F20210101%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210101T090000Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&X-Amz-Signature=abcdef0123456789
                editable_submissions: false
                embed_domains: null
                encrypt_pdfs_password: null
                encrypt_pdfs: false
                expiration_interval: days
                expire_after: 7
                expire_submissions: true
                external_predefined_fields_template_id: null
                external_predefined_fields_template_name: null
                first_template: false
                id: tpl_1234567890abcdef01
                locked: false
                merge_audit_trail_pdf: true
                name: Template 1
                page_count: 1
                page_dimensions:
                - - 612
                  - 792
                parent_folder_id: null
                path: /
                permanent_document_url: https://app.docspring.com/templates/tpl_1234567890abcdef01/original_pdf?token=123456789abcdef
                public_submissions: false
                public_web_form: false
                redirect_url: null
                slack_webhook_url: null
                template_type: pdf
                updated_at: 2018-10-20T09:00:00.000-04:00
                webhook_url: null
                demo: false
              schema:
                $ref: '#/components/schemas/template_preview'
          description: template found
        "404":
          content:
            application/json:
              example:
                status: error
                error: Template not found.
              schema:
                $ref: '#/components/schemas/error_response'
          description: template not found
        "401":
          content:
            application/json:
              example:
                status: error
                error: "Missing Basic Auth: Please provide an API token via Basic\
                  \ Auth. See: https://docspring.com/docs/api/authentication.html"
              schema:
                $ref: '#/components/schemas/error_response'
          description: authentication failed
      security:
      - api_token_basic: []
      summary: Check the status of an uploaded template
      tags:
      - PDF
    put:
      operationId: updateTemplate
      parameters:
      - example: tpl_1234567890abcdef03
        in: path
        name: template_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update_html_template'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                status: success
              schema:
                $ref: '#/components/schemas/success_multiple_errors_response'
          description: update template success
      security:
      - api_token_basic: []
      summary: Update a Template
      tags:
      - PDF
      x-codegen-request-body-name: data
  /templates/{template_id}?full=true:
    get:
      operationId: getFullTemplate
      parameters:
      - example: tpl_1234567890abcdef01
        in: path
        name: template_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                add_data_request_submission_id_footers: true
                allow_additional_properties: false
                description: null
                document_filename: blank_pdf.pdf
                document_md5: 1c32d785398e3a7eaab0e9b876903cc6
                document_parse_error: false
                document_processed: true
                document_state: processed
                document_url: https://docspring-s3-example.s3.amazonaws.com/store/acc_1234567890abcdef01/templates/tpl_1234567890abcdef01/document/original-0000000000.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=docspring-s3-example%2F20210101%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210101T090000Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&X-Amz-Signature=abcdef0123456789
                editable_submissions: false
                embed_domains: null
                encrypt_pdfs_password: null
                encrypt_pdfs: false
                expiration_interval: days
                expire_after: 7
                expire_submissions: true
                external_predefined_fields_template_id: null
                external_predefined_fields_template_name: null
                first_template: false
                id: tpl_1234567890abcdef01
                locked: false
                merge_audit_trail_pdf: true
[...]
