openapi: 3.0.1
info:
  description: DocSpring is a service that helps you fill out and sign PDF templates.
  title: API v1
  version: v1
servers:
- url: https://api.docspring.com/api/v1
paths:
  /authentication:
    get:
      operationId: testAuthentication
      responses:
        "200":
          content:
            application/json:
              example:
                status: success
              schema:
                $ref: '#/components/schemas/authentication_success_response'
          description: authentication succeeded
        "401":
          content:
            application/json:
              example:
                error: "Could not find API token with ID: adsfasf"
              schema:
                $ref: '#/components/schemas/authentication_error'
          description: authentication failed
      security:
      - api_token_basic: []
      summary: Test Authentication
      tags:
      - PDF
  /combined_submissions:
    get:
      operationId: listCombinedSubmissions
      parameters:
      - description: "Default: 1"
        example: 2
        in: query
        name: page
        schema:
          minimum: 1
          type: integer
      - description: "Default: 50"
        example: 1
        in: query
        name: per_page
        schema:
          maximum: 50
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              example:
              - id: com_000000000000000001
                state: pending
                expired: false
                expires_in: null
                expires_at: null
                processed_at: null
                error_message: null
                submission_ids: []
                source_pdfs: []
                metadata: {}
                password: null
                pdf_hash: null
                download_url: null
                actions: []
              - id: com_000000000000000002
                state: processed
                expired: false
                expires_in: null
                expires_at: null
                processed_at: 2023-01-05T14:00:00Z
                error_message: null
                submission_ids: []
                source_pdfs: []
                metadata: {}
                password: null
                pdf_hash: 225fb2676adc8f382aba3916d7b7a2088cb7f75ab62ec5c7f4543c5abf8ce4da
                download_url: https://docspring-s3-example.s3.amazonaws.com/store/acc_000000000000000001/combined_submissions/com_000000000000000002.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=docspring-s3-example%2F20210101%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210101T090000Z&X-Amz-Expires=86400&X-Amz-SignedHeaders=host&X-Amz-Signature=abcdef0123456789
                actions: []
              - id: com_000000000000000003
                state: error
                expired: false
                expires_in: 123
                expires_at: null
                processed_at: null
                error_message: Something went wrong
                submission_ids: []
                source_pdfs: []
                metadata: {}
                password: null
                pdf_hash: null
                download_url: null
                actions: []
              - id: com_000000000000000004
                state: processed
                expired: true
                expires_in: 345
                expires_at: 2023-01-05T14:05:00Z
                processed_at: 2023-01-05T14:00:00Z
                error_message: null
                submission_ids: []
                source_pdfs: []
                metadata: {}
                password: null
                pdf_hash: 0622971147486e1900037eff229d921d14f5b51aac7171729b2b66f81cdf6585
                download_url: null
                actions: []
              schema:
                items:
                  $ref: '#/components/schemas/combined_submission'
                title: combined_submissions
                type: array
          description: enumerate all combined submissions
        "401":
          content:
            application/json:
              example:
                error: Unauthorized
              schema:
                $ref: '#/components/schemas/authentication_error'
          description: authentication failed
      security:
      - api_token_basic: []
      summary: Get a list of all combined submissions
      tags:
      - PDF
    post:
      operationId: combineSubmissions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/combined_submission_data'
        required: true
      responses:
        "201":
          content:
            application/json:
              example:
                status: success
                combined_submission:
                  id: com_000000000000000001
                  state: pending
                  expired: false
                  expires_in: 300
                  expires_at: null
                  processed_at: null
                  error_message: null
                  submission_ids:
                  - sub_000000000000000001
                  - sub_000000000000000002
                  source_pdfs: []
                  metadata:
                    foo: 123
                    bar: baz
                  password: p@ssword
                  pdf_hash: null
                  download_url: null
                  actions: []
              schema:
                $ref: '#/components/schemas/create_combined_submission_response'
          description: combined submission created
        "422":
          content:
            application/json:
              example:
                status: error
                errors:
                - "source_pdfs: Could not find Submission with ID: MISSING_ID"
              schema:
                $ref: '#/components/schemas/invalid_request'
          description: invalid request
        "400":
          content:
            application/json:
              example:
                status: error
                error: "There was a problem with the JSON you submitted: unexpected\
                  \ character at line 1, column 37 in '{ \"submission_ids\": [\"123\"\
                  , \"345\"], metadata: { \"user_id\": \"@#)(*%$)@(#*%@&%\" }}"
              schema:
                $ref: '#/components/schemas/error_response'
          description: invalid JSON
        "401":
          content:
            application/json:
              example:
                error: Unauthorized
              schema:
                $ref: '#/components/schemas/authentication_error'
          description: authentication failed
      security:
      - api_token_basic: []
      summary: Merge generated PDFs together
      tags:
      - PDF
      x-codegen-request-body-name: data
  /combined_submissions?v=2:
    post:
      operationId: combinePdfs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/combine_pdfs_data'
        required: true
      responses:
        "201":
          content:
            application/json:
              example:
                status: success
                combined_submission:
                  id: com_000000000000000001
                  state: pending
                  expired: false
                  expires_in: 300
                  expires_at: null
                  processed_at: null
                  error_message: null
                  submission_ids:
                  - sub_000000000000000001
                  - sub_000000000000000002
                  source_pdfs:
                  - type: submission
                    id: sub_000000000000000001
                  - type: template
                    id: tpl_000000000000000001
                    template_version: 1.0.0
                  - type: template
                    id: tpl_000000000000000001
                  - type: submission
                    id: sub_000000000000000002
                  - type: custom_file
                    id: cfi_0000000000000000000000001
                  - type: combined_submission
                    id: com_0000000000000000001
                  - type: url
                    url: http://example.com/test-pdf.pdf
                  metadata:
                    foo: 123
                    bar: baz
                  password: null
                  pdf_hash: null
                  download_url: null
                  actions: []
              schema:
                $ref: '#/components/schemas/create_combined_submission_response'
          description: combined submission created
        "422":
          content:
            application/json:
              example:
                status: error
                errors:
                - "source_pdfs: Could not find Submission with ID: MISSING_SUBMISSION_ID"
                - "source_pdfs: Template document is not processed: tpl_000000000000000001\
                  \ (state: pending)"
                - "source_pdfs: Invalid template version: 'x.y.z' for template: tpl_000000000000000001"
                - "source_pdfs: Could not find Template with version 3.4.5: tpl_000000000000000001"
                - "source_pdfs: Could not find Template with ID: MISSING_TEMPLATE_ID"
                - "source_pdfs: Could not find Custom File with ID: MISSING_CUSTOM_FILE_ID"
                - "source_pdfs: Could not find Combined Submission with ID: MISSING_COMBINED_SUBMISSION_ID"
              schema:
                $ref: '#/components/schemas/invalid_request'
          description: invalid request
        "400":
          content:
            application/json:
              example:
                status: error
                error: "There was a problem with the JSON you submitted: unexpected\
                  \ character at line 1, column 34 in '{ \"source_pdfs\": [\"123\"\
                  , \"345\"], metadata: { \"user_id\": \"@#*&%)(@*#%&(@#!\" }}"
              schema:
                $ref: '#/components/schemas/error_response'
          description: invalid JSON
        "401":
          content:
            application/json:
              example:
                error: Unauthorized
              schema:
                $ref: '#/components/schemas/authentication_error'
          description: authentication failed
      security:
      - api_token_basic: []
      summary: "Merge submission PDFs, template PDFs, or custom files"
      tags:
      - PDF
      x-codegen-request-body-name: data
  /combined_submissions/{combined_submission_id}:
    delete:
      operationId: expireCombinedSubmission
      parameters:
      - example: com_0000000000000000001
        in: path
        name: combined_submission_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                id: com_0000000000000000001
                state: processed
                expired: true
                expires_in: 300
                expires_at: 2018-10-20T13:00:00Z
                processed_at: 2020-05-14T02:00:00Z
                error_message: null
                submission_ids:
                - sub_000000000000000001
                - sub_000000000000000002
                source_pdfs: []
                metadata:
                  qux: abc
                  user_id: 42
                password: p@ssword
                pdf_hash: 12342342471442006963e3244a1b43610e066165c09770978221f91bd7ace8f5
                download_url: null
                actions:
                - id: csa_000000000000000001
                  integration_id: aci_0000000000000000001
                  state: processed
                  action_type: aws_s3_upload
                  action_category: file_upload
                  result_data:
                    s3_key: acc_1234/2018/combined_submissions/20181005090010-com_1234.pdf
                    s3_url: https://docspring-s3-example.s3.amazonaws.com/acc_1234/2018/combined_submissions/20181005090010-com_1234.pdf
                    s3_bucket: docspring-s3-example
                    s3_region: us-east-1
              schema:
                $ref: '#/components/schemas/combined_submission'
          description: submission was expired
        "404":
          content:
            application/json:
              example:
                status: error
                error: Combined submission not found.
              schema:
                $ref: '#/components/schemas/error_response'
          description: combined submission not found
        "403":
          content:
            application/json:
              example:
                status: error
                error: You must use a live API token to expire a combined submission.
              schema:
                $ref: '#/components/schemas/error_response'
          description: test API token used
        "401":
          content:
            application/json:
              example:
                error: Unauthorized
              schema:
                $ref: '#/components/schemas/authentication_error'
          description: authentication failed
      security:
      - api_token_basic: []
      summary: Expire a combined submission
      tags:
      - PDF
    get:
      operationId: getCombinedSubmission
      parameters:
      - example: com_0000000000000000001
        in: path
        name: combined_submission_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                id: com_0000000000000000001
                state: processed
                expired: false
                expires_in: 300
                expires_at: 2018-10-20T13:05:00Z
                processed_at: 2020-05-14T02:00:00Z
                error_message: null
                submission_ids:
                - sub_000000000000000001
                - sub_000000000000000002
                source_pdfs: []
                metadata:
                  qux: abc
                  user_id: 42
                password: p@ssword
                pdf_hash: 12342342471442006963e3244a1b43610e066165c09770978221f91bd7ace8f5
                download_url: https://docspring-s3-example.s3.amazonaws.com/store/submissions/sub_00000000001/20171002192229.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=docspring-s3-example%2F20210101%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210101T090000Z&X-Amz-Expires=86400&X-Amz-SignedHeaders=host&X-Amz-Signature=abcdef0123456789
                actions:
                - id: csa_000000000000000001
                  integration_id: aci_0000000000000000001
                  state: processed
                  action_type: aws_s3_upload
                  action_category: file_upload
                  result_data:
                    s3_key: acc_1234/2018/combined_submissions/20181005090010-com_1234.pdf
                    s3_url: https://docspring-s3-example.s3.amazonaws.com/acc_1234/2018/combined_submissions/20181005090010-com_1234.pdf
                    s3_bucket: docspring-s3-example
                    s3_region: us-east-1
              schema:
                $ref: '#/components/schemas/combined_submission'
          description: processed combined submission found
        "404":
          content:
            application/json:
              example:
                status: error
                error: Combined submission not found.
              schema:
                $ref: '#/components/schemas/error_response'
          description: combined submission not found
        "401":
          content:
            application/json:
              example:
                error: Unauthorized
              schema:
                $ref: '#/components/schemas/authentication_error'
          description: authentication failed
      security:
      - api_token_basic: []
      summary: Check the status of a combined submission (merged PDFs)
      tags:
      - PDF
  /custom_files:
    post:
      operationId: createCustomFileFromUpload
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_custom_file_data'
        required: true
      responses:
        "201":
          content:
            application/json:
              example:
                status: success
                custom_file:
                  id: cfi_000000000000000001
                  url: https://docspring-s3-example.s3.amazonaws.com/store/acc_000000000000000001/custom_files/cfi_000000000000000001.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=docspring-s3-example%2F20210101%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210101T090000Z&X-Amz-Expires=86400&X-Amz-SignedHeaders=host&X-Amz-Signature=abcdef0123456789
              schema:
                $ref: '#/components/schemas/create_custom_file_response'
          description: returns the custom file
        "401":
          content:
            application/json:
              example:
                error: Unauthorized
              schema:
                $ref: '#/components/schemas/authentication_error'
          description: authentication failed
      security:
      - api_token_basic: []
      summary: Create a new custom file from a cached presign upload
      tags:
      - PDF
      x-codegen-request-body-name: data
  /folders/:
    get:
      operationId: listFolders
      parameters:
      - description: Filter By Folder Id
        example: fld_0000000000000000002
        in: query
        name: parent_folder_id
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
              - id: fld_0000000000000000003
                name: nested folder 1
                path: /Folder 2
                parent_folder_id: fld_0000000000000000002
              - id: fld_0000000000000000002
                name: Folder 2
                path: /
                parent_folder_id: null
              - id: fld_0000000000000000001
                name: Folder 1
                path: /
                parent_folder_id: null
              schema:
                items:
                  $ref: '#/components/schemas/folder'
                title: folders
                type: array
          description: enumerate all folders
        "401":
          content:
            application/json:
              example:
                error: Unauthorized
              schema:
                $ref: '#/components/schemas/authentication_error'
          description: authentication failed
      security:
      - api_token_basic: []
      summary: Get a list of all folders
      tags:
      - PDF
    post:
      operationId: createFolder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_folder_data'
        required: true
      responses:
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/folder'
          description: name already exist
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: parent folder doesnt exist
        "200":
          content:
            application/json:
              example:
                id: fld_000000000000000001
                name: Folder 3
                path: /
                parent_folder_id: null
              schema:
                $ref: '#/components/schemas/folder'
          description: folder created inside another folder
        "401":
          content:
            application/json:
              example:
                error: Unauthorized
              schema:
                $ref: '#/components/schemas/authentication_error'
          description: authentication failed
      security:
      - api_token_basic: []
      summary: Create a folder
      tags:
      - PDF
      x-codegen-request-body-name: data
  /folders/{folder_id}/move:
    post:
      operationId: moveFolderToFolder
      parameters:
      - example: fld_0000000000000000001
        in: path
        name: folder_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/move_folder_data'
        required: true
      responses:
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: parent folder doesnt exist
        "200":
          content:
            application/json:
              example:
                id: fld_0000000000000000001
                name: Folder 1
                path: /Folder 2
                parent_folder_id: fld_0000000000000000002
              schema:
                $ref: '#/components/schemas/folder'
          description: move to root folder
        "401":
          content:
            application/json:
              example:
                error: Unauthorized
              schema:
                $ref: '#/components/schemas/authentication_error'
          description: authentication failed
      security:
      - api_token_basic: []
      summary: Move a folder
      tags:
      - PDF
      x-codegen-request-body-name: data
  /folders/{folder_id}/rename:
    post:
      operationId: renameFolder
      parameters:
      - example: fld_0000000000000000001
        in: path
        name: folder_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/rename_folder_data'
        required: true
      responses:
        "422":
          content: {}
          description: name already exist
        "404":
          content: {}
          description: folder doesnt belong to me
        "200":
          content:
            application/json:
              example:
                id: fld_0000000000000000001
                name: Folder 3
                path: /
                parent_folder_id: null
          description: successful rename
        "401":
          content:
            application/json:
              example:
                error: Unauthorized
              schema:
                $ref: '#/components/schemas/authentication_error'
          description: authentication failed
      security:
      - api_token_basic: []
      summary: Rename a folder
      tags:
      - PDF
      x-codegen-request-body-name: data
  /folders/{folder_id}:
    delete:
      operationId: deleteFolder
      parameters:
      - example: fld_0000000000000000001
        in: path
        name: folder_id
        required: true
        schema:
          type: string
      responses:
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: folder doesnt exist
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: folder has contents
        "200":
          content:
            application/json:
              example:
                id: fld_0000000000000000001
                name: Folder 1
                path: /
                parent_folder_id: null
              schema:
                $ref: '#/components/schemas/folder'
          description: folder is empty
        "401":
          content:
            application/json:
              example:
                error: Unauthorized
              schema:
                $ref: '#/components/schemas/authentication_error'
          description: authentication failed
      security:
      - api_token_basic: []
      summary: Delete a folder
      tags:
      - PDF
  /data_requests/{data_request_id}/events:
    post:
      operationId: createDataRequestEvent
      parameters:
      - example: drq_000000000000000001
        in: path
        name: data_request_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_submission_data_request_event_request'
        required: true
      responses:
        "201":
          content:
            application/json:
              example:
                status: success
                event:
                  id: dre_000000000000000001
                  submission_id: sub_000000000000000001
                  submission_data_request_id: drq_000000000000000001
                  event_type: send_request
                  message_type: email
                  message_recipient: test@test.com
                  occurred_at: 2018-10-20T13:00:00Z
              schema:
                $ref: '#/components/schemas/create_submission_data_request_event_response'
          description: event created
        "401":
          content:
            application/json:
              example:
                error: Unauthorized
              schema:
                $ref: '#/components/schemas/authentication_error'
          description: authentication failed
        "422":
          content:
            application/json:
              example:
                status: error
                errors:
                - Message type can't be blank
                - Message recipient can't be blank
              schema:
                $ref: '#/components/schemas/invalid_request'
          description: message recipient must not be blank
      security:
      - api_token_basic: []
      summary: Creates a new event for emailing a signee a request for signature
      tags:
      - PDF
      x-codegen-request-body-name: event
  /data_requests/{data_request_id}/tokens:
    post:
      operationId: createDataRequestToken
      parameters:
      - example: drq_000000000000000001
        in: path
        name: data_request_id
        required: true
        schema:
          type: string
      responses:
        "201":
          content:
            application/json:
              example:
                status: success
                token:
                  id: "000000000000000001"
                  secret: ABCDEF01234567890
                  expires_at: 2018-10-20T14:00:00Z
                  data_request_url: https://app.docspring.com/data_requests/drq_000000000000000001?token_id=000000000000000001&token_secret=ABCDEF01234567890
              schema:
                $ref: '#/components/schemas/create_submission_data_request_token_response'
          description: token created
        "401":
          content:
            application/json:
              example:
                error: Unauthorized
              schema:
                $ref: '#/components/schemas/authentication_error'
          description: authentication failed
      security:
      - api_token_basic: []
      summary: Creates a new data request token for form authentication
      tags:
      - PDF
  /data_requests/{data_request_id}:
    get:
      operationId: getDataRequest
      parameters:
      - example: drq_000000000000000001
        in: path
        name: data_request_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                id: drq_000000000000000001
                email: jdoe@example.com
                name: John Doe
                order: 1
                sort_order: 0
                fields:
                - last_name
                metadata:
                  user_id: 42
                state: pending
                viewed_at: null
                completed_at: null
                data:
                  last_name: Smithers
                auth_type: password
                auth_second_factor_type: phone_number
                auth_provider: null
                auth_session_started_at: 2018-10-23T13:00:00Z
                auth_session_id_hash: null
                auth_user_id_hash: 8ae0e445664ca53407906db8638d8ba07a2383f656383a4427bed1ab645ca29a
                auth_username_hash: b7c141423f7030a6a771563ee0731192ea871146653a3d0cf8f8b78ca8f9699b
                auth_phone_number_hash: fdcc3985b0698d655137019b1e776171081369f0aad125b8c7f57af2b8225490
                ip_address: 1.1.1.1
                user_agent: "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_4) AppleWebKit/537.36\
                  \ (KHTML, like Gecko) Chrome/81.0.4044.122 Safari/537.36"
                submission_id: sub_000000000000000001
              schema:
                $ref: '#/components/schemas/submission_data_request'
          description: completed submission data request found
        "404":
          content:
            application/json:
              example:
                status: error
                error: Data request not found.
              schema:
                $ref: '#/components/schemas/error_response'
          description: submission data request not found
        "401":
          content:
            application/json:
              example:
                error: Invalid API token secret
              schema:
                $ref: '#/components/schemas/authentication_error'
          description: authentication failed
      security:
      - api_token_basic: []
      summary: Look up a submission data request
      tags:
      - PDF
    put:
      operationId: updateDataRequest
      parameters:
      - example: drq_000000000000000001
        in: path
        name: data_request_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update_submission_data_request_data'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                status: success
                data_request:
                  id: drq_000000000000000001
                  email: jdoe@example.com
                  name: John Doe
                  order: 1
                  sort_order: 0
                  fields:
                  - last_name
                  metadata:
                    user_id: 123
                  state: pending
                  viewed_at: null
                  completed_at: null
                  data:
                    last_name: Smithers
                  auth_type: oauth
                  auth_second_factor_type: none
                  auth_provider: google
                  auth_session_started_at: 2018-10-23T13:00:00Z
                  auth_session_id_hash: 8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92
                  auth_user_id_hash: null
                  auth_username_hash: null
                  auth_phone_number_hash: null
                  ip_address: 1.1.1.1
                  user_agent: "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_4) AppleWebKit/537.36\
                    \ (KHTML, like Gecko) Chrome/81.0.4044.122 Safari/537.36"
                  submission_id: sub_000000000000000001
              schema:
                $ref: '#/components/schemas/update_data_request_response'
          description: submission data request updated
        "422":
          content:
            application/json:
              example:
                status: error
                errors:
                - Data requests cannot be updated after they have been completed.
              schema:
                $ref: '#/components/schemas/invalid_request'
          description: invalid request
        "404":
          content:
            application/json:
              example:
                status: error
                error: Data request not found.
              schema:
                $ref: '#/components/schemas/error_response'
          description: submission data request not found
        "401":
          content:
            application/json:
              example:
                error: Invalid API token secret
              schema:
                $ref: '#/components/schemas/authentication_error'
          description: authentication failed
      security:
      - api_token_basic: []
      summary: Update a submission data request
      tags:
      - PDF
      x-codegen-request-body-name: data
  /templates/{template_id}/submissions/batch:
    post:
      operationId: batchGeneratePdfV1
      parameters:
      - example: tpl_000000000000000001
        in: path
        name: template_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              example:
              - data:
                  first_name: Johnny
                  last_name: Smith
                metadata:
                  submission_number: 1
              - data:
                  first_name: Jane
                  last_name: Doe
                metadata:
                  submission_number: 2
              items:
                $ref: '#/components/schemas/submission_data'
              title: create_submission_batch_v1
              type: array
        required: true
      responses:
        "201":
          content:
            application/json:
              example:
              - status: success
                submission:
                  id: sub_000000000000000001
                  template_id: tpl_000000000000000001
                  template_version: null
                  batch_id: null
                  state: pending
                  test: false
                  editable: null
                  expired: false
                  expires_at: null
                  password: null
                  json_schema_errors: []
                  truncated_text: {}
                  metadata:
                    submission_number: 1
                  processed_at: null
                  data_requests: []
                  pdf_hash: null
                  download_url: null
                  permanent_download_url: null
                  preview_download_url: null
                  preview_generated_at: null
                  audit_trail_download_url: null
                  actions: []
              - status: success
                submission:
                  id: sub_000000000000000002
                  template_id: tpl_000000000000000001
                  template_version: null
                  batch_id: null
                  state: pending
                  test: false
                  editable: null
                  expired: false
                  expires_at: null
                  password: null
                  json_schema_errors: []
                  truncated_text: {}
                  metadata:
                    submission_number: 2
                  processed_at: null
                  data_requests: []
                  pdf_hash: null
                  download_url: null
                  permanent_download_url: null
                  preview_download_url: null
                  preview_generated_at: null
                  audit_trail_download_url: null
                  actions: []
              schema:
                items:
                  $ref: '#/components/schemas/create_submission_response'
                type: array
          description: submissions created
        "422":
          content:
            application/json:
              example:
              - status: error
                submission:
                  id: sub_000000000000000001
                  template_id: tpl_000000000000000001
                  template_version: null
                  batch_id: null
                  state: invalid_data
                  test: false
                  editable: null
                  expired: false
                  expires_at: null
                  password: null
                  json_schema_errors:
                  - Your submission data did not contain a required property of 'last_name'
                  truncated_text: {}
                  metadata:
                    submission_number: 1
                  processed_at: null
                  data_requests: []
                  pdf_hash: null
                  download_url: null
                  permanent_download_url: null
                  preview_download_url: null
                  preview_generated_at: null
                  audit_trail_download_url: null
                  actions: []
                errors:
                - Your submission data did not contain a required property of 'last_name'
              - status: error
                submission:
                  id: sub_000000000000000002
                  template_id: tpl_000000000000000001
                  template_version: null
                  batch_id: null
                  state: invalid_data
                  test: false
                  editable: null
                  expired: false
                  expires_at: null
                  password: null
                  json_schema_errors:
                  - Your submission data did not contain a required property of 'first_name'
                  truncated_text: {}
                  metadata:
                    submission_number: 2
                  processed_at: null
                  data_requests: []
                  pdf_hash: null
                  download_url: null
                  permanent_download_url: null
                  preview_download_url: null
                  preview_generated_at: null
                  audit_trail_download_url: null
                  actions: []
                errors:
                - Your submission data did not contain a required property of 'first_name'
              schema:
                items:
                  $ref: '#/components/schemas/invalid_request'
                type: array
          description: invalid requests
        "401":
          content:
            application/json:
              example:
                error: Invalid API token secret
              schema:
                $ref: '#/components/schemas/authentication_error'
          description: authentication failed
        "400":
          content:
            application/json:
              example:
                status: error
                error: "There was a problem with the JSON you submitted: unexpected\
                  \ character at line 1, column 25 in '{ \"first_name\": \"John\"\
                  , last_name: \"Smith\" }"
              schema:
                $ref: '#/components/schemas/error_response'
          description: invalid JSON
      security:
      - api_token_basic: []
      summary: Generates multiple PDFs
      tags:
      - PDF
      x-codegen-request-body-name: data
  /submissions/batches:
    post:
      operationId: batchGeneratePdfs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/submission_batch_data'
        required: true
      responses:
        "201":
          content:
            application/json:
              example:
                status: success
                submission_batch:
                  id: sbb_000000000000000001
                  state: pending
                  metadata:
                    job_id: 54321
                  processed_at: null
                  total_count: 2
                  pending_count: 2
                  error_count: 0
                  completion_percentage: 0
                submissions:
                - status: success
                  submission:
                    id: sub_000000000000000001
                    template_id: tpl_000000000000000001
                    template_version: null
                    batch_id: sbb_000000000000000001
                    state: pending
                    test: false
                    editable: null
                    expired: false
                    expires_at: null
                    password: null
                    json_schema_errors: []
                    truncated_text: {}
                    metadata:
                      submission_number: 1
                    processed_at: null
                    data_requests: []
                    pdf_hash: null
                    download_url: null
                    permanent_download_url: null
                    preview_download_url: null
                    preview_generated_at: null
                    audit_trail_download_url: null
                    actions: []
                - status: success
                  submission:
                    id: sub_000000000000000002
                    template_id: tpl_000000000000000001
                    template_version: null
                    batch_id: sbb_000000000000000001
                    state: pending
                    test: true
                    editable: null
                    expired: false
                    expires_at: null
                    password: null
                    json_schema_errors: []
                    truncated_text: {}
                    metadata:
                      submission_number: 2
                    processed_at: null
                    data_requests: []
                    pdf_hash: null
                    download_url: null
                    permanent_download_url: null
                    preview_download_url: null
                    preview_generated_at: null
                    audit_trail_download_url: null
                    actions: []
              schema:
                $ref: '#/components/schemas/create_submission_batch_response'
          description: submissions created
        "200":
          content:
            application/json:
              example:
                status: error
                submission_batch:
                  id: sbb_000000000000000001
                  state: error
                  metadata:
                    job_id: 54321
                  processed_at: null
                  total_count: 2
                  pending_count: 0
                  error_count: 1
                  completion_percentage: 100
                submissions:
                - status: valid_but_not_saved
                  errors: []
                - status: error
                  submission:
                    id: sub_000000000000000002
                    template_id: tpl_000000000000000001
                    template_version: null
                    batch_id: sbb_000000000000000001
                    state: invalid_data
                    test: true
                    editable: null
                    expired: false
                    expires_at: null
                    password: null
                    json_schema_errors:
                    - Your submission data did not contain a required property of
                      'first_name'
                    truncated_text: {}
                    metadata:
                      submission_number: 2
                    processed_at: null
                    data_requests: []
                    pdf_hash: null
                    download_url: null
                    permanent_download_url: null
                    preview_download_url: null
                    preview_generated_at: null
                    audit_trail_download_url: null
                    actions: []
                  errors:
                  - Your submission data did not contain a required property of 'first_name'
              schema:
                $ref: '#/components/schemas/create_submission_batch_response'
          description: some PDFs with invalid data
        "401":
          content:
            application/json:
              example:
                error: Invalid API token secret
              schema:
                $ref: '#/components/schemas/authentication_error'
          description: authentication failed
        "400":
          content:
            application/json:
              example:
                status: error
                error: "There was a problem with the JSON you submitted: unexpected\
                  \ character at line 1, column 25 in '{ \"first_name\": \"John\"\
                  , last_name: \"Smith\" }"
              schema:
                $ref: '#/components/schemas/error_response'
          description: invalid JSON
      security:
      - api_token_basic: []
      summary: Generates multiple PDFs
      tags:
      - PDF
      x-codegen-request-body-name: data
  /submissions/batches/{submission_batch_id}:
    get:
      operationId: getSubmissionBatch
      parameters:
      - example: sbb_000000000000000001
        in: path
        name: submission_batch_id
        required: true
        schema:
          type: string
      - example: true
        in: query
        name: include_submissions
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              example:
                id: sbb_000000000000000001
                state: error
                metadata:
                  qux: abc
                processed_at: null
                total_count: 10
                pending_count: 1
                error_count: 2
                completion_percentage: 90
                submissions:
                - id: sub_000000000000000001
                  template_id: tpl_000000000000000001
                  template_version: null
                  batch_id: sbb_000000000000000001
                  state: processed
                  test: false
                  editable: false
                  expired: false
                  expires_at: null
                  password: null
                  json_schema_errors: []
                  truncated_text: {}
                  metadata: {}
                  processed_at: null
                  data_requests: []
                  pdf_hash: bbc369dd471442006963e3244a1b43610e066165c09770978221f91bd7ace8f5
                  download_url: https://example.com/submissions/submission.pdf
                  permanent_download_url: https://app.docspring.com/submissions/sub_000000000000000001/download
                  preview_download_url: null
                  preview_generated_at: null
                  audit_trail_download_url: null
                  actions: []
                - id: sub_000000000000000002
                  template_id: tpl_000000000000000001
                  template_version: null
                  batch_id: sbb_000000000000000001
                  state: processed
                  test: false
                  editable: false
                  expired: false
                  expires_at: null
                  password: null
                  json_schema_errors: []
                  truncated_text: {}
                  metadata: {}
                  processed_at: null
                  data_requests: []
                  pdf_hash: bbc369dd471442006963e3244a1b43610e066165c09770978221f91bd7ace8f5
                  download_url: https://example.com/submissions/submission.pdf
                  permanent_download_url: https://app.docspring.com/submissions/sub_000000000000000002/download
                  preview_download_url: null
                  preview_generated_at: null
                  audit_trail_download_url: null
                  actions: []
              schema:
                $ref: '#/components/schemas/submission_batch'
          description: processed submission batch found
        "404":
          content:
            application/json:
              example:
                status: error
                error: Submission batch not found.
              schema:
                $ref: '#/components/schemas/error_response'
          description: submission batch not found
        "401":
          content:
            application/json:
              example:
                error: Invalid API token secret
              schema:
                $ref: '#/components/schemas/authentication_error'
          description: authentication failed
      security:
      - api_token_basic: []
      summary: Check the status of a submission batch job
      tags:
      - PDF
  /submissions:
    get:
      operationId: listSubmissions
      parameters:
      - example: sub_list_000012
        in: query
        name: cursor
        schema:
          type: string
      - example: 3
        in: query
        name: limit
        schema:
          type: number
      - example: 2019-01-01T09:00:00-05:00
        in: query
        name: created_after
        schema:
          type: string
      - example: 2020-01-01T09:00:00.000+0200
        in: query
        name: created_before
        schema:
          type: string
      - example: test
        in: query
        name: type
        schema:
          type: string
      - example: true
        in: query
        name: include_data
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              example:
                submissions:
                - id: sub_list_000001
                  template_id: tpl_000000000000000001
                  template_version: null
                  batch_id: null
                  state: processed
                  test: true
                  editable: false
                  expired: false
                  expires_at: 2020-10-27T13:00:00Z
                  password: null
                  json_schema_errors: []
                  truncated_text:
                    first_name:
                    - F. Scott Fitzgerald
                  metadata:
                    qux: abc
                    user_id: 42
                  processed_at: 2020-05-14T02:00:00Z
                  data_requests: []
                  pdf_hash: bbc369dd471442006963e3244a1b43610e066165c09770978221f91bd7ace8f5
                  download_url: https://example.com/submissions/submission.pdf
                  permanent_download_url: https://app.docspring.com/submissions/sub_list_000001/download
                  preview_download_url: null
                  preview_generated_at: null
                  audit_trail_download_url: null
                  actions: []
                  source: api
                  referrer: null
                  data:
                    first_name: John C. D. Rom Laserdisk F. Scott Fitzgerald
                    last_name: Smith
                    phone_number: "+11234567890"
                - id: sub_list_000002
                  template_id: tpl_000000000000000001
                  template_version: null
                  batch_id: null
                  state: processed
                  test: true
                  editable: false
                  expired: false
                  expires_at: 2020-10-27T13:00:00Z
                  password: null
                  json_schema_errors: []
                  truncated_text:
                    first_name:
                    - F. Scott Fitzgerald
                  metadata:
                    qux: abc
                    user_id: 42
                  processed_at: 2020-05-14T02:00:00Z
                  data_requests: []
                  pdf_hash: bbc369dd471442006963e3244a1b43610e066165c09770978221f91bd7ace8f5
                  download_url: https://example.com/submissions/submission.pdf
                  permanent_download_url: https://app.docspring.com/submissions/sub_list_000002/download
                  preview_download_url: null
                  preview_generated_at: null
                  audit_trail_download_url: null
                  actions: []
                  source: api
                  referrer: null
                  data:
                    first_name: John C. D. Rom Laserdisk F. Scott Fitzgerald
                    last_name: Smith
                    phone_number: "+11234567890"
                - id: sub_list_000003
                  template_id: tpl_000000000000000001
                  template_version: null
                  batch_id: null
                  state: processed
                  test: true
                  editable: false
                  expired: false
                  expires_at: 2020-10-27T13:00:00Z
                  password: null
                  json_schema_errors: []
                  truncated_text:
                    first_name:
                    - F. Scott Fitzgerald
                  metadata:
                    qux: abc
                    user_id: 42
                  processed_at: 2020-05-14T02:00:00Z
                  data_requests: []
                  pdf_hash: bbc369dd471442006963e3244a1b43610e066165c09770978221f91bd7ace8f5
                  download_url: https://example.com/submissions/submission.pdf
                  permanent_download_url: https://app.docspring.com/submissions/sub_list_000003/download
                  preview_download_url: null
                  preview_generated_at: null
                  audit_trail_download_url: null
                  actions: []
                  source: api
                  referrer: null
                  data:
                    first_name: John C. D. Rom Laserdisk F. Scott Fitzgerald
                    last_name: Smith
                    phone_number: "+11234567890"
                next_cursor: sub_list_000003
                limit: 3
              schema:
                $ref: '#/components/schemas/list_submissions_response'
          description: listing submissions
        "400":
          content:
            application/json:
              example:
                status: error
                error: "Invalid submission type: 'foo'"
              schema:
                $ref: '#/components/schemas/error_response'
          description: invalid type
        "401":
          content:
            application/json:
              example:
                error: Invalid API token secret
              schema:
                $ref: '#/components/schemas/authentication_error'
          description: authentication failed
      security:
      - api_token_basic: []
      summary: List all submissions
      tags:
      - PDF
  /templates/{template_id}/submissions:
    get:
      operationId: listTemplateSubmissions
      parameters:
      - example: tpl_000000000000000002
        in: path
        name: template_id
        required: true
        schema:
          type: string
      - in: query
        name: cursor
        schema:
          type: string
      - in: query
        name: limit
        schema:
          type: number
      - in: query
        name: created_after
        schema:
          type: string
      - in: query
        name: created_before
        schema:
          type: string
      - in: query
        name: type
        schema:
          type: string
      - example: true
        in: query
        name: include_data
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              example:
                submissions:
                - id: sub_list_000011
                  template_id: tpl_000000000000000002
                  template_version: null
                  batch_id: null
                  state: processed
                  test: false
                  editable: false
                  expired: false
                  expires_at: 2020-10-27T13:00:00Z
                  password: null
                  json_schema_errors: []
                  truncated_text:
                    first_name:
                    - F. Scott Fitzgerald
                  metadata:
                    qux: abc
                    user_id: 42
                  processed_at: 2020-05-14T02:00:00Z
                  data_requests: []
                  pdf_hash: bbc369dd471442006963e3244a1b43610e066165c09770978221f91bd7ace8f5
                  download_url: https://example.com/submissions/submission.pdf
                  permanent_download_url: https://app.docspring.com/submissions/sub_list_000011/download
                  preview_download_url: null
                  preview_generated_at: null
                  audit_trail_download_url: null
                  actions: []
                  source: api
                  referrer: null
                  data:
                    first_name: John C. D. Rom Laserdisk F. Scott Fitzgerald
                    last_name: Smith
                    phone_number: "+11234567890"
                - id: sub_list_000012
                  template_id: tpl_000000000000000002
                  template_version: null
                  batch_id: null
                  state: processed
                  test: false
                  editable: false
                  expired: false
                  expires_at: 2020-10-27T13:00:00Z
                  password: null
                  json_schema_errors: []
                  truncated_text:
                    first_name:
                    - F. Scott Fitzgerald
                  metadata:
                    qux: abc
                    user_id: 42
                  processed_at: 2020-05-14T02:00:00Z
                  data_requests: []
                  pdf_hash: bbc369dd471442006963e3244a1b43610e066165c09770978221f91bd7ace8f5
                  download_url: https://example.com/submissions/submission.pdf
                  permanent_download_url: https://app.docspring.com/submissions/sub_list_000012/download
                  preview_download_url: null
                  preview_generated_at: null
                  audit_trail_download_url: null
                  actions: []
                  source: api
                  referrer: null
                  data:
                    first_name: John C. D. Rom Laserdisk F. Scott Fitzgerald
                    last_name: Smith
                    phone_number: "+11234567890"
                - id: sub_list_000013
                  template_id: tpl_000000000000000002
                  template_version: null
                  batch_id: null
                  state: processed
                  test: false
                  editable: false
                  expired: false
                  expires_at: 2020-10-27T13:00:00Z
                  password: null
                  json_schema_errors: []
                  truncated_text:
                    first_name:
                    - F. Scott Fitzgerald
                  metadata:
                    qux: abc
                    user_id: 42
                  processed_at: 2020-05-14T02:00:00Z
                  data_requests: []
                  pdf_hash: bbc369dd471442006963e3244a1b43610e066165c09770978221f91bd7ace8f5
                  download_url: https://example.com/submissions/submission.pdf
                  permanent_download_url: https://app.docspring.com/submissions/sub_list_000013/download
                  preview_download_url: null
                  preview_generated_at: null
                  audit_trail_download_url: null
                  actions: []
                  source: api
                  referrer: null
                  data:
                    first_name: John C. D. Rom Laserdisk F. Scott Fitzgerald
                    last_name: Smith
                    phone_number: "+11234567890"
                - id: sub_list_000014
                  template_id: tpl_000000000000000002
                  template_version: null
                  batch_id: null
                  state: processed
                  test: false
                  editable: false
                  expired: false
                  expires_at: 2020-10-27T13:00:00Z
                  password: null
                  json_schema_errors: []
                  truncated_text:
                    first_name:
                    - F. Scott Fitzgerald
                  metadata:
                    qux: abc
                    user_id: 42
                  processed_at: 2020-05-14T02:00:00Z
                  data_requests: []
                  pdf_hash: bbc369dd471442006963e3244a1b43610e066165c09770978221f91bd7ace8f5
                  download_url: https://example.com/submissions/submission.pdf
                  permanent_download_url: https://app.docspring.com/submissions/sub_list_000014/download
                  preview_download_url: null
                  preview_generated_at: null
                  audit_trail_download_url: null
                  actions: []
                  source: api
                  referrer: null
                  data:
                    first_name: John C. D. Rom Laserdisk F. Scott Fitzgerald
                    last_name: Smith
                    phone_number: "+11234567890"
                next_cursor: sub_list_000014
                limit: 50
              schema:
                $ref: '#/components/schemas/list_submissions_response'
          description: listing submissions
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: invalid template id
      security:
      - api_token_basic: []
      summary: List all submissions for a given template
      tags:
      - PDF
    post:
      operationId: generatePDF
      parameters:
      - example: tpl_000000000000000001
        in: path
        name: template_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_submission_data'
        required: true
      responses:
        "201":
          content:
            application/json:
              example:
                status: success
                submission:
                  id: sub_000000000000000001
                  template_id: tpl_000000000000000001
                  template_version: null
                  batch_id: null
                  state: pending
                  test: false
                  editable: null
                  expired: false
                  expires_at: null
                  password: null
                  json_schema_errors: []
                  truncated_text: {}
                  metadata:
                    foo: 123
                    bar: baz
                  processed_at: null
                  data_requests: []
                  pdf_hash: null
                  download_url: null
                  permanent_download_url: null
                  preview_download_url: null
                  preview_generated_at: null
                  audit_trail_download_url: null
                  actions: []
              schema:
                $ref: '#/components/schemas/create_submission_response'
          description: submission created
        "400":
          content:
            application/json:
              example:
                status: error
                error: "There was a problem with the JSON you submitted: unexpected\
                  \ character at line 1, column 25 in '{ \"first_name\": \"John\"\
                  , last_name: \"Smith\" }"
              schema:
                $ref: '#/components/schemas/error_response'
          description: invalid JSON
        "422":
          content:
            application/json:
              example:
                status: error
                submission:
                  id: sub_000000000000000001
                  template_id: tpl_000000000000000001
                  template_version: null
                  batch_id: null
                  state: invalid_data
                  test: false
                  editable: null
                  expired: false
                  expires_at: null
                  password: null
                  json_schema_errors:
                  - Your submission data did not contain a required property of 'last_name'
                  truncated_text: {}
                  metadata:
                    foo: 123
                    bar: baz
                  processed_at: null
                  data_requests: []
                  pdf_hash: null
                  download_url: null
                  permanent_download_url: null
                  preview_download_url: null
                  preview_generated_at: null
                  audit_trail_download_url: null
                  actions: []
                errors:
                - Your submission data did not contain a required property of 'last_name'
              schema:
                $ref: '#/components/schemas/invalid_request'
          description: invalid request
        "401":
          content:
            application/json:
              example:
                status: error
                error: Invalid API token secret
              schema:
                $ref: '#/components/schemas/authentication_error'
          description: authentication failed
      security:
      - api_token_basic: []
      summary: Generates a new PDF
      tags:
      - PDF
      x-codegen-request-body-name: submission
  /submissions/{submission_id}:
    delete:
      operationId: expireSubmission
      parameters:
      - example: sub_000000000000000001
        in: path
        name: submission_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                id: sub_000000000000000001
                template_id: tpl_000000000000000001
                template_version: null
                batch_id: null
                state: processed
                test: true
                editable: false
                expired: true
                expires_at: 2018-10-20T13:00:00Z
                password: null
                json_schema_errors: []
                truncated_text:
                  first_name:
                  - F. Scott Fitzgerald
                metadata:
                  qux: abc
                  user_id: 42
                processed_at: 2020-05-14T02:00:00Z
                data_requests: []
                pdf_hash: bbc369dd471442006963e3244a1b43610e066165c09770978221f91bd7ace8f5
                download_url: null
                permanent_download_url: null
                preview_download_url: null
                preview_generated_at: null
                audit_trail_download_url: null
                actions:
                - id: sba_000000000000000001
                  integration_id: aci_000000000000000001
                  state: processed
                  action_type: aws_s3_upload
                  action_category: file_upload
                  result_data:
                    s3_key: templates/tpl_eGc5CmFbPnCCmerqsx/sub_gzYpKDYFqEHxzca4kK.pdf
                    s3_url: https://docspring-s3-example.s3.amazonaws.com/templates/tpl_eGc5CmFbPnCCmerqsx/sub_gzYpKDYFqEHxzca4kK.pdf
                    s3_bucket: docspring-s3-example
                    s3_region: us-east-1
              schema:
                $ref: '#/components/schemas/submission'
          description: submission was expired
        "404":
          content:
            application/json:
              example:
                status: error
                error: Submission not found.
              schema:
                $ref: '#/components/schemas/error_response'
          description: submission not found
        "401":
          content:
            application/json:
              example:
                error: Invalid API token secret
              schema:
                $ref: '#/components/schemas/authentication_error'
          description: authentication failed
        "403":
          content:
            application/json:
              example:
                status: error
                error: You must use a live API token to expire a submission.
              schema:
                $ref: '#/components/schemas/error_response'
          description: test API token used
      security:
      - api_token_basic: []
      summary: Expire a PDF submission
      tags:
      - PDF
    get:
      operationId: getSubmission
      parameters:
      - example: sub_000000000000000001
        in: path
        name: submission_id
        required: true
        schema:
          type: string
      - example: true
        in: query
        name: include_data
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              example:
                id: sub_000000000000000001
                template_id: tpl_000000000000000001
                template_version: null
                batch_id: null
                state: processed
                test: true
                editable: false
                expired: false
                expires_at: 2018-10-27T13:00:00Z
                password: null
                json_schema_errors: []
                truncated_text:
                  first_name:
                  - F. Scott Fitzgerald
                metadata:
                  qux: abc
                  user_id: 42
                processed_at: 2020-05-14T02:00:00Z
                data_requests: []
                pdf_hash: bbc369dd471442006963e3244a1b43610e066165c09770978221f91bd7ace8f5
                download_url: https://example.com/submissions/submission.pdf
                permanent_download_url: https://app.docspring.com/submissions/sub_000000000000000001/download
                preview_download_url: null
                preview_generated_at: null
                audit_trail_download_url: null
                actions:
                - id: sba_000000000000000001
                  integration_id: aci_000000000000000001
                  state: processed
                  action_type: aws_s3_upload
                  action_category: file_upload
                  result_data:
                    s3_key: templates/tpl_eGc5CmFbPnCCmerqsx/sub_gzYpKDYFqEHxzca4kK.pdf
                    s3_url: https://docspring-s3-example.s3.amazonaws.com/templates/tpl_eGc5CmFbPnCCmerqsx/sub_gzYpKDYFqEHxzca4kK.pdf
                    s3_bucket: docspring-s3-example
                    s3_region: us-east-1
                source: api
                referrer: null
                data:
                  first_name: John C. D. Rom Laserdisk F. Scott Fitzgerald
                  last_name: Smith
                  phone_number: "+11234567890"
              schema:
                $ref: '#/components/schemas/submission'
          description: processed submission found
        "404":
          content:
            application/json:
              example:
                status: error
                error: Submission not found.
              schema:
                $ref: '#/components/schemas/error_response'
          description: submission not found
        "401":
          content:
            application/json:
              example:
                status: error
                error: Unauthorized
              schema:
                $ref: '#/components/schemas/authentication_error'
          description: authentication failed
      security:
      - api_token_basic: []
      summary: Check the status of a PDF
      tags:
      - PDF
  /submissions/{submission_id}/generate_preview:
    post:
      operationId: generatePreview
      parameters:
      - example: sub_00000000000000001
        in: path
        name: submission_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                status: success
              schema:
                $ref: '#/components/schemas/preview_pdf_response'
          description: preview was successfully requested
        "404":
          content:
            application/json:
              example:
                status: error
                error: Submission not found.
              schema:
                $ref: '#/components/schemas/error_response'
          description: submission not found
        "422":
          content:
            application/json:
              example:
                status: error
                error: Preview PDF cannot be generated when all data requests have
                  been completed.
              schema:
                $ref: '#/components/schemas/preview_pdf_response'
          description: error requesting preview
      security:
      - api_token_basic: []
      summary: Generated a preview PDF for partially completed data requests
      tags:
      - PDF
  /templates:
    get:
      operationId: listTemplates
      parameters:
      - description: Search By Name
        example: "2"
        in: query
        name: query
        schema:
          type: string
      - description: Filter By Folder Id
        example: fld_000000000000000001
        in: query
        name: parent_folder_id
        schema:
          type: string
      - description: "Default: 1"
        example: 2
        in: query
        name: page
        schema:
          minimum: 1
          type: integer
      - description: "Default: 50"
        example: 1
        in: query
        name: per_page
        schema:
          maximum: 50
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              example:
              - add_data_request_submission_id_footers: true
                allow_additional_properties: false
                description: null
                document_filename: test-document.pdf
                document_processed: true
                document_state: pending
                document_url: https://docspring-s3-example.s3.amazonaws.com/store/templates/test/test-document.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=docspring-s3-example%2F20210101%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210101T090000Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&X-Amz-Signature=abcdef0123456789
                editable_submissions: false
                expiration_interval: days
                expire_after: 7
                expire_submissions: true
                external_predefined_fields_template_id: null
                external_predefined_fields_template_name: null
                id: tpl_000000000000000011
                locked: false
                merge_audit_trail_pdf: true
                name: Sub Template 1
                page_count: 3
                page_dimensions:
                - - 612
                  - 792
                - - 792
                  - 612
                - - 612
                  - 792
                parent_folder_id: fld_000000000000000001
                path: /Folder
                permanent_document_url: https://app.docspring.com/templates/tpl_000000000000000011/original_pdf?token=123456789abcdef
                public_submissions: false
                public_web_form: false
                redirect_url: null
                slack_webhook_url: null
                template_type: pdf
                updated_at: 2018-10-20T09:00:00.000-04:00
                version_published_at: null
                version: null
                webhook_url: null
              - add_data_request_submission_id_footers: true
                allow_additional_properties: false
                description: null
                document_filename: null
                document_processed: false
                document_state: pending
                document_url: null
                editable_submissions: false
                expiration_interval: days
                expire_after: 7
                expire_submissions: true
                external_predefined_fields_template_id: null
                external_predefined_fields_template_name: null
                id: tpl_000000000000000003
                locked: false
                merge_audit_trail_pdf: true
                name: Template 3
                page_count: 1
                page_dimensions: null
                parent_folder_id: null
                path: /
                permanent_document_url: null
                public_submissions: false
                public_web_form: false
                redirect_url: null
                slack_webhook_url: null
                template_type: html
                updated_at: 2018-10-20T09:00:00.000-04:00
                version_published_at: null
                version: null
                webhook_url: null
              - add_data_request_submission_id_footers: true
                allow_additional_properties: false
                description: null
                document_filename: test-document.pdf
                document_processed: true
                document_state: pending
                document_url: https://docspring-s3-example.s3.amazonaws.com/store/templates/test/test-document.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=docspring-s3-example%2F20210101%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210101T090000Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&X-Amz-Signature=abcdef0123456789
                editable_submissions: false
                expiration_interval: days
                expire_after: 7
                expire_submissions: true
                external_predefined_fields_template_id: null
                external_predefined_fields_template_name: null
                id: tpl_000000000000000002
                locked: false
                merge_audit_trail_pdf: true
                name: Template 2
                page_count: 3
                page_dimensions:
                - - 612
                  - 792
                - - 792
                  - 612
                - - 612
                  - 792
                parent_folder_id: null
                path: /
                permanent_document_url: https://app.docspring.com/templates/tpl_000000000000000002/original_pdf?token=123456789abcdef
                public_submissions: false
                public_web_form: false
                redirect_url: null
                slack_webhook_url: null
                template_type: pdf
                updated_at: 2018-10-20T09:00:00.000-04:00
                version_published_at: null
                version: null
                webhook_url: null
              - add_data_request_submission_id_footers: true
                allow_additional_properties: false
                description: null
                document_filename: blank_pdf.pdf
                document_processed: true
                document_state: processed
                document_url: https://docspring-s3-example.s3.amazonaws.com/store/acc_000000000000000001/templates/tpl_000000000000000001/draft/document/original-0000000000.abcdef1234567890abcd.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=docspring-s3-example%2F20210101%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210101T090000Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&X-Amz-Signature=abcdef0123456789
                editable_submissions: false
                expiration_interval: days
                expire_after: 7
                expire_submissions: true
                external_predefined_fields_template_id: null
                external_predefined_fields_template_name: null
                id: tpl_000000000000000001
                locked: false
                merge_audit_trail_pdf: true
                name: Template 1
                page_count: 1
                page_dimensions:
                - - 612
                  - 792
                parent_folder_id: null
                path: /
                permanent_document_url: https://app.docspring.com/templates/tpl_000000000000000001/original_pdf?token=123456789abcdef
                public_submissions: false
                public_web_form: false
                redirect_url: null
                slack_webhook_url: null
                template_type: pdf
                updated_at: 2018-10-20T09:00:00.000-04:00
                version_published_at: null
                version: null
                webhook_url: null
              schema:
                items:
                  $ref: '#/components/schemas/template'
                title: templates
                type: array
          description: enumerate all templates
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
          description: filter templates by invalid folder id
        "401":
          content:
            application/json:
              example:
                error: Unauthorized
              schema:
                $ref: '#/components/schemas/authentication_error'
          description: authentication failed
      security:
      - api_token_basic: []
      summary: Get a list of all templates
      tags:
      - PDF
    post:
      operationId: createPDFTemplate
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/createPDFTemplate_request'
        required: true
      responses:
        "201":
          content:
            application/json:
              example:
                add_data_request_submission_id_footers: true
                allow_additional_properties: false
                description: null
                document_filename: fw8ben.pdf
                document_processed: false
                document_state: pending
                document_url: /cache/cached_upload.pdf
                editable_submissions: false
                expiration_interval: days
                expire_after: 7
                expire_submissions: false
                external_predefined_fields_template_id: null
                external_predefined_fields_template_name: null
                id: tpl_000000000000000004
                locked: false
                merge_audit_trail_pdf: true
                name: Test Template
                page_count: 0
                page_dimensions: null
                parent_folder_id: fld_000000000000000001
                path: /Folder
                permanent_document_url: null
                public_submissions: false
                public_web_form: false
                redirect_url: null
                slack_webhook_url: null
                template_type: pdf
                updated_at: 2018-10-20T09:00:00.000-04:00
                version_published_at: null
                version: null
                webhook_url: null
              schema:
                $ref: '#/components/schemas/pending_template'
          description: returns a pending template
        "401":
          content:
            application/json:
              example:
                error: Unauthorized
              schema:
                $ref: '#/components/schemas/authentication_error'
          description: authentication failed
      security:
      - api_token_basic: []
      summary: Create a new PDF template with a form POST file upload
      tags:
      - PDF
  /templates?desc=html:
    post:
      operationId: createHTMLTemplate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_html_template_data'
        required: true
      responses:
        "201":
          content:
            application/json:
              example:
                add_data_request_submission_id_footers: true
                allow_additional_properties: false
                description: HTML template created via API
                document_filename: null
                document_processed: false
                document_state: pending
                document_url: null
                editable_submissions: false
                expiration_interval: days
                expire_after: 7
                expire_submissions: false
                external_predefined_fields_template_id: null
                external_predefined_fields_template_name: null
                id: tpl_000000000000000004
                locked: false
                merge_audit_trail_pdf: true
                name: Test HTML Template
                page_count: 1
                page_dimensions: null
                parent_folder_id: null
                path: /
                permanent_document_url: null
                public_submissions: false
                public_web_form: false
                redirect_url: null
                slack_webhook_url: null
                template_type: html
                updated_at: 2018-10-20T09:00:00.000-04:00
                version_published_at: null
                version: null
                webhook_url: null
              schema:
                $ref: '#/components/schemas/pending_template'
          description: returns a created template
        "401":
          content:
            application/json:
              example:
                error: Unauthorized
              schema:
                $ref: '#/components/schemas/authentication_error'
          description: authentication failed
      security:
      - api_token_basic: []
      summary: Create a new HTML template
      tags:
      - PDF
      x-codegen-request-body-name: data
  /templates?desc=cached_upload:
    post:
      operationId: createPDFTemplateFromUpload
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_template_from_upload_data'
        required: true
      responses:
        "201":
          content:
            application/json:
              example:
                add_data_request_submission_id_footers: true
                allow_additional_properties: false
                description: null
                document_filename: fw8ben.pdf
                document_processed: false
                document_state: pending
                document_url: https://docspring-s3-example.s3.amazonaws.com/cache/original-0000000000?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=docspring-s3-example%2F20210101%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210101T090000Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&X-Amz-Signature=abcdef0123456789
                editable_submissions: false
                expiration_interval: days
                expire_after: 7
                expire_submissions: false
                external_predefined_fields_template_id: null
                external_predefined_fields_template_name: null
                id: tpl_000000000000000004
                locked: false
                merge_audit_trail_pdf: true
                name: Test Template Presigned
                page_count: 0
                page_dimensions: null
                parent_folder_id: null
                path: /
                permanent_document_url: null
                public_submissions: false
                public_web_form: false
                redirect_url: null
                slack_webhook_url: null
                template_type: pdf
                updated_at: 2018-10-20T09:00:00.000-04:00
                version_published_at: null
                version: null
                webhook_url: null
              schema:
                $ref: '#/components/schemas/pending_template'
          description: returns a pending template
        "401":
          content:
            application/json:
              example:
                error: Unauthorized
              schema:
                $ref: '#/components/schemas/authentication_error'
          description: authentication failed
      security:
      - api_token_basic: []
      summary: Create a new PDF template from a cached presign upload
      tags:
      - PDF
      x-codegen-request-body-name: data
  /templates/{template_id}:
    delete:
      operationId: deleteTemplate
      parameters:
      - example: tpl_000000000000000001
        in: path
        name: template_id
        required: true
        schema:
          type: string
      - example: 0.1.0
        in: query
        name: version
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                status: success
                latest_version: null
                versions: []
              schema:
                $ref: '#/components/schemas/delete_template_response'
          description: template deleted
        "404":
          content:
            application/json:
              example:
                status: error
                error: Template not found.
              schema:
                $ref: '#/components/schemas/error_response'
          description: template not found
        "401":
          content:
            application/json:
              example:
                error: Unauthorized
              schema:
                $ref: '#/components/schemas/authentication_error'
          description: authentication failed
      security:
      - api_token_basic: []
      summary: Delete a template
      tags:
      - PDF
    get:
      operationId: getTemplate
      parameters:
      - example: tpl_000000000000000001
        in: path
        name: template_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                add_data_request_submission_id_footers: true
                allow_additional_properties: false
                description: null
                document_filename: blank_pdf.pdf
                document_processed: true
                document_state: processed
                document_url: https://docspring-s3-example.s3.amazonaws.com/store/acc_000000000000000001/templates/tpl_000000000000000001/draft/document/original-0000000000.abcdef1234567890abcd.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=docspring-s3-example%2F20210101%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210101T090000Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&X-Amz-Signature=abcdef0123456789
                editable_submissions: false
                expiration_interval: days
                expire_after: 7
                expire_submissions: true
                external_predefined_fields_template_id: null
                external_predefined_fields_template_name: null
                id: tpl_000000000000000001
                locked: false
                merge_audit_trail_pdf: true
                name: Template 1
                page_count: 1
                page_dimensions:
                - - 612
                  - 792
                parent_folder_id: null
                path: /
                permanent_document_url: https://app.docspring.com/templates/tpl_000000000000000001/original_pdf?token=123456789abcdef
                public_submissions: false
                public_web_form: false
                redirect_url: null
                slack_webhook_url: null
                template_type: pdf
                updated_at: 2018-10-20T09:00:00.000-04:00
                version_published_at: null
                version: null
                webhook_url: null
              schema:
                $ref: '#/components/schemas/template'
          description: template found
        "404":
          content:
            application/json:
              example:
                status: error
                error: Template not found.
              schema:
                $ref: '#/components/schemas/error_response'
          description: template not found
        "401":
          content:
            application/json:
              example:
                error: Unauthorized
              schema:
                $ref: '#/components/schemas/authentication_error'
          description: authentication failed
      security:
      - api_token_basic: []
      summary: Check the status of an uploaded template
      tags:
      - PDF
    put:
      operationId: updateTemplate
      parameters:
      - example: tpl_000000000000000003
        in: path
        name: template_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update_template_data'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                status: success
              schema:
                $ref: '#/components/schemas/update_template_response'
          description: update template success
      security:
      - api_token_basic: []
      summary: Update a Template
      tags:
      - PDF
      x-codegen-request-body-name: data
  /templates/{template_id}/publish_version:
    post:
      operationId: publishTemplateVersion
      parameters:
      - example: tpl_000000000000000001
        in: path
        name: template_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/publish_version_data'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                status: success
                result:
                  version: 0.1.0
                  description: Added new fields
                  published_by_id: usr_000000000000000001
                  published_at: 2018-10-20T09:00:00.000-04:00
              schema:
                $ref: '#/components/schemas/publish_template_version_response'
          description: version published successfully
        "422":
          content:
            application/json:
              example:
                status: error
                errors:
                - "Invalid version type! Must be one of: major, minor, patch"
              schema:
                $ref: '#/components/schemas/publishTemplateVersion_422_response'
          description: invalid version type
        "404":
          content:
            application/json:
              example:
                status: error
                error: Template not found.
              schema:
                $ref: '#/components/schemas/publishTemplateVersion_404_response'
          description: template not found
        "401":
          content:
            application/json:
              example:
                error: Unauthorized
              schema:
                $ref: '#/components/schemas/authentication_error'
          description: authentication failed
      security:
      - api_token_basic: []
      summary: Publish a template version
      tags:
      - PDF
      x-codegen-request-body-name: data
  /templates/{template_id}/restore_version:
    post:
      operationId: restoreTemplateVersion
      parameters:
      - example: tpl_000000000000000001
        in: path
        name: template_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/restore_version_data'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                status: success
              schema:
                $ref: '#/components/schemas/restore_template_version_response'
          description: version restored successfully
        "422":
          content:
            application/json:
              example:
                status: error
                errors:
                - Version is required!
              schema:
                $ref: '#/components/schemas/invalid_request'
          description: draft version not allowed
        "404":
          content:
            application/json:
              example:
                status: error
                errors:
                - Couldn't find published template for tpl_000000000000000001 version
                  999.999.999
              schema:
                $ref: '#/components/schemas/invalid_request'
          description: template version not found
        "401":
          content:
            application/json:
              example:
                error: Unauthorized
              schema:
                $ref: '#/components/schemas/authentication_error'
          description: authentication failed
      security:
      - api_token_basic: []
      summary: Restore a template version
      tags:
      - PDF
      x-codegen-request-body-name: data
  /templates/{template_id}?full=true:
    get:
      operationId: getFullTemplate
      parameters:
      - example: tpl_000000000000000001
        in: path
        name: template_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                allow_additional_properties: false
                add_data_request_submission_id_footers: true
                defaults:
                  color: "444444"
                  opacity: 1
                  fontSize: 11
                  typeface: Helvetica
                  checkColor: "444444"
                  dateFormat: '%m/%d/%Y'
                  dateTimeFormat: '%m/%d/%Y %H:%M:%S'
                  characterSpacing: 0
                  shapeBorderColor: 4A90E2
                description: null
                document_filename: blank_pdf.pdf
                document_md5: 1c32d785398e3a7eaab0e9b876903cc6
                document_parse_error: false
                document_state: processed
                document_url: https://docspring-s3-example.s3.amazonaws.com/store/acc_000000000000000001/templates/tpl_000000000000000001/draft/document/original-0000000000.abcdef1234567890abcd.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=docspring-s3-example%2F20210101%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210101T090000Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&X-Amz-Signature=abcdef0123456789
                editable_submissions: false
                embed_domains: null
                encrypt_pdfs_password: null
                encrypt_pdfs: false
                expiration_interval: days
                expire_after: 7
                expire_submissions: true
                external_predefined_fields_template_id: null
                external_predefined_fields_template_name: null
                field_order:
                - - 1
                  - 2
                  - 3
                fields:
                  "1":
                    x: 0
                    "y": 0
                    id: 1
                    name: first_name
                    width: 200
                    height: 80
                    displayType: text
                  "2":
                    x: 0
                    "y": 100
                    id: 2
                    name: last_name
                    width: 200
                    height: 80
                    displayType: text
                  "3":
                    x: 0
                    "y": 200
                    id: 3
                    name: phone_number
                    width: 200
                    height: 80
                    displayType: text
                first_template: false
                footer_html: null
                header_html: null
                html_engine_options:
                  scale: 1
                  format: Letter
[...]
